<div>these are the h sizes</div>
<style>
  div {
    font-family: Arial, Helvetica, sans-serif;
    size: 30pt;
  }
</style>
<h1>this is a BIG size</h1>
<h2>it still looks big</h2>
<h3>it is getting smaller, but still a bit big</h3>
<h4>it is getting very small. i cannot see it</h4>
<h5>this is super small. i'll give you a challenge</h5>
<h1>Challenge</h1>
<h3>can you see the h6 size?</h3>
<h6>this is the smallest tag</h6>
<h3>can you see it?</h3>
<button id="a">Yes</button>
<button id="b">No</button>
<button disabled="disabled">Absoluteley Not!!!</button>
<h2>Warning!</h2>
<h4>the absoluteley not button is not avalible</h4>
<script>
  document.querySelector('#a').addEventListener('click', e => {
    alert('you have good eyes!')
  })
  document.querySelector('#b').addEventListener('click', e => {
    alert('maybe i will remove it for you')
  })
</script>

find your own path to your own best day with this a <small>treats</small> visit
<big>Giant buttons</big>

<legend>find all 6 b's in an h1 size</legend>
<h1></h1>
<select name="" id="">
  <option value="1">Examples</option>
  <option value="2">Files</option>
  <option value="3">Styler</option>
  <option value="4">Creativity</option>
  <option value="5">Add Textarea</option>
</select>
<main>
  <select name="html" id="html"
    >--- ---

    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
      </head>
      <body> </body>
    </html></select
  >
</main>
<meta http-equiv="refresh" content="5" />
<h5>try using bigger tools to earn serious rewards</h5>
<h1>Turkey's Schedule</h1>
<h2>8:15 arrive</h2>
<h2>8:30 breakfast</h2>
<h2>9:15 baseball</h2>
<h2>10:00 reccess</h2>
<h2>10:30 map</h2>
<h2>11:50 clean up</h2>
<h2>12:25 lunch</h2>
<h2>12:55 reccess</h2>
<h2>1:10 anything</h2>
<h2>2:00 home</h2>
<map name="googles">earth</map>
