<h2>this is important. the submit button can trigger the alert</h2>
<button id="submitter">Okay</button>
<button disabled="disabled">Okay</button>
<script>
  document.querySelector('#submitter').addEventListener('click', e => {
    alert('voter submitted!')
  })
</script>
<h3>enter a name that is friendly</h3>
why is the second button disabled?
<input type="radio" name="" id="" /> because the computer wants 1 button
<input type="radio" name="" id="" /> because this is allowed to have 1 team
<input type="radio" name="" id="" /> because it is a crime to press it
<input type="radio" name="" id="" /> because the script can use the first button
<h3>write a text of why you cannot press the second okay button</h3>
<textarea name="" id="" cols="30">because the button is </textarea>
<h2>describe your image. what do you want to create?</h2>
<textarea name="" id=""></textarea>
<input type="image" src="" alt="" />
<h1>Months</h1>
<select name="" id="">
  <option>January</option>
  <option>Febuary</option>
  <option>March</option>
  <option>April</option>
  <option>May</option>
  <option>June</option>
  <option>July</option>
  <option>August</option>
  <option>September</option>
  <option>October</option>
  <option>November</option>
  <option value="">December</option>
</select>
<input type="month" name="" id="" />
<h1>Main:</h1>
<input type="datetime-local" name="" id="" />

<section>best day</section>
