<h1>Details</h1>
<h3>what are details?</h3>
<textarea name="" id="" cols="30" rows="10"></textarea>
<h3>now you know about details, let's come here:</h3>
<details>
  <summary>Show what you learned</summary>
  <div>details are parts of a story</div>
</details>
<h3>here is a prompt of how to play</h3>
• press buttons
<br />
• use more
<br />
• protect by years and legends
<h2>Fun:</h2>
• protect more stratigies
<h4>please tell us more:</h4>
<h6>what do you want to talk about?</h6>
<label
  >Example <input
    value="i would like to talk about"
    disabled
    type="text"
  /></label
>
<br />
<br />
<label>A <input type="text" /></label>
<br />
<br />
<label>B <input type="text" /></label>
<br />
<br />
<label>C <input type="text" /></label>
<h4>you have 3 blanked inputs. the first one is done for you</h4>
<h1>options</h1>
<h4>this is an option selector without options</h4>
<select name="" id=""></select>
<h4>this is an option with options</h4>
<h6>choose how you like to convert your word</h6>
<select name="" id="">
  <option>DESSERTS</option>
  <option value="">tarl bushes</option>
  <option disabled value="">plit plit plits</option>
  <option selected value="">rag desserts</option>
  <option value="">freezing shadows</option>
</select>
<h2>let's do DESSERTS first</h2>
<h6>4 .</h6>
<h5>3</h5>
<h4>2</h4>
<h3>1</h3>
<h2>0</h2>
<h1>-1</h1>
