<h3>select the checkmarks</h3>
<input type="checkbox" name="" id="" />
<input type="checkbox" name="" id="" />
<br />
<input type="checkbox" name="" id="" />
<input type="checkbox" name="" id="" />
<h4>select 1 and 3</h4>
<h3>adjust slider half way</h3>
<h1>Example:</h1>
<input disabled value="50" type="range" name="" id="" />
<br />
<input value="0" type="range" name="" id="" />
<br />
list 4 things
<br />
<h2>select the radio that is best to you</h2>
<input type="radio" name="a" id="" />
<input disabled type="radio" name="" id="" />
<input type="radio" name="a" id="" />
<input disabled type="radio" name="" id="" />
<br />
<h5>my brother and i walk to park</h5>
<h1>which word is missing?</h1>
<input type="text" />
<h1>DOMT</h1>
<h3>what do you want this to stand for?</h3>
D <input type="text" />
<br />
O <input type="text" />
<br />
M <input type="text" />
<br />
T <input type="text" />
<h2>what word should you write in? pick a few letters in your claim</h2>
<textarea name="" id="" rows="10"></textarea>
<h2>all textareas:</h2>
<textarea name="" id=""></textarea>
<textarea name="" id="" cols="30"></textarea>
<textarea name="" id="" cols="30" rows="10"></textarea>
<textarea disabled name="" id="" rows="10"></textarea>
<h3>pick any number that is less then 40</h3>
<input type="number" name="" id="" />
<br />
<br />
<br />
<br />
<br />
<h6>COOL:</h6>
<h2>pick your letter</h2>
<textarea name="" id="" cols="30">my letter should be:</textarea>
<h4>set up your claim:</h4>
<h1>you did it! you earned your slider!</h1>
adjust it! <input type="range" name="" id="" /> adjust it!
<h2>you can also go to this link:</h2>
<h5>find it in this story about Joe</h5>
joe likes to play a lot, but he is too young for baseball. he tries to hit it, and
it hit him in the face and started crying. that made everyone get worried and they
called 911 to go to the hospital. joe was cmplaining. he said he would never do basebal<a
  href="http://christmas.com">l</a
> again!!! so joe learned his lesson!
<br />
if real, call <a href="tel:+">911</a>
<h3>fix an error</h3>
abcdefghijklnopqrstuvwxyz
<br />
<input type="text" />
GOOD JOB!!!!! <input type="button" value="" />
<h3>Hint:</h3>
<h4>there are 25 letters in the error. what letter is missing?</h4>
