<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h6>5-1-1-2</h6>
    <h2>write this code</h2>
    <input placeholder="Estimate" type="number" name="" id="" />
    <input placeholder="Real Number" type="number" name="" id="" />
    <h1>Hint:</h1>
    <h3>
      you can play with only 5 or less people. there are 5 or less on the team
      on the team
    </h3>
    <input placeholder="Team 1" type="text" />
    <input placeholder="Team 2" type="text" />
    <input aria-placeholder="Team 3" type="text" />
    <input placeholder="Team 4" type="text" />
    <input placeholder="Team 5" type="text" />
    <h2>they trick you</h2>

    <h4>the teams you choose can take you around</h4>
    <button data-say="go away">luke says</button>
    <button data-say="good job">Mr Philips</button>
    <button data-say="hey friend">MacCayla</button>
    <script>
      document.querySelectorAll('button').forEach(button => {
        button.addEventListener('click', e => {
          const say = (e.currentTarget as HTMLButtonElement).dataset.say
          alert(say)
        })
      })
      java
    </script>
    <u>make up</u>
    <i>Luke</i>
    <h1>Luke Game</h1>
    <h2>Where you find luke</h2>
    <data value="gander">the trough</data>
    <h1>luke games are the best</h1>
    <h3>your textarea</h3>
    <style>
      textarea {
        width: 100%;
        height: 100vh;
      }
    </style>

    ARROWS → ← ↓ ↑
  </body>
</html>
<textarea name="" id=""
  ><!DOCTYPE html> <html lang="en"> <head> <meta charset="UTF-8"> <meta
  name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title> </head> <body> </body> </html></textarea
>
you can <u>make</u> the best point try traveling into a better <a
  href="http://www.chatgpt.com">link</a
>
<h3>3 buttons!</h3>
<button>1</button>
<button>2</button>
<button>3</button>
<button disabled="disabled">4</button>
<button disabled="disabled">5</button>
with those buttons, it is <a href="http://www.boodeboo.com/sro4">possible</a> to
make a better link then this. it lands in sro4 the best <b>populer</b> picture can
lead to an <u>image</u> for more studies. use the textarea but keep your <u
  >best</u
> value your name is <a
  href="http://www.boodeboo.com/sro2"
  target="_blank"
  rel="noopener noreferrer">jameseroos</a
>
