---
import Menu from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Menu />
    <input type="checkbox" name="" id="" />
    <h1>what is our truth?</h1>
    <textarea name="" id="" rows="10"> </textarea>
    <h2>Html</h2>
    <h3>this is what html actually is</h3>
    <mark>Html</mark>:5
    <h2>what color is your favorite?</h2>
    <h3>time to slide!</h3>
    <input type="color" name="" id="" /> James
    <br />
    <input disabled type="color" name="" id="" /> Alora (name of game)
    <br />
    <input type="color" name="" id="" /> Aysia
    <br />
    <input type="color" name="" id="" /> Sofia
    <br />
    <input type="color" name="" id="" /> Jack
    <br />
    <input type="color" name="" id="" /> Mira
    <details>
      <summary>Mixed</summary>
      <div>
        <input value="blue" type="color" name="" id="" />
      </div>
    </details>
    <h2>read this thing</h2>
    <h4>what letter is bold?</h4>
    ne<b>x</b>t, he drove a ta<b>x</b>i to get a bo<b>x</b> from bo<b>x</b> o<b
      >x</b
    >
    <h2>Define the game</h2>
    <h1>sup songs</h1>
    <h2>Use labeled feautures</h2>
    <title>Game game</title>
    <h5>what is your rare hog's name?</h5>
    <input type="text" />
    <h3>Who is the hog's name?</h3>
    <button disabled="disabled"></button>
    <h1>Marks</h1>
    this is a <mark>mark</mark>
    <h2>tell us each detail</h2>
    <h4>2026</h4>
    <h2>what do you have it say?</h2>
    <details>
      <summary>X</summary>
      <div>
        <h1>this is the name of the game</h1>
        <button type="submit">alora</button>
        <button disabled="disabled">mila</button>
      </div>
    </details>
    <script>
      alert('Alora is the name of the game')
      alert('this is your most evivible game!!!')
      alert('Start now')
    </script>
    <h2>How to unlock the Bottom part</h2>
    please listen to op<a href="tel:+1-(707)-337-5598">e</a>n this part:
    <h1>How</h1>
    to open this please follow the list
    <ol>
      <li>Giving</li>
      <li>Zalstars</li>
      <li>make sure chupapi's closed</li>
    </ol>
    <link rel="stylesheet" href="print.css" media="print" />
    <h1>Bottom:</h1>
    <h3>find the "2026"</h3>
    <h1>Chupapi</h1>
    <select name="" id="">
      <option value="">Open</option>
      <option value="">Closed</option>
    </select>
    <details>
      <summary>Z</summary>
      <div>F O R T</div>
    </details>
    <select name="" id="">
      <option value="">R</option>
      <option value="">A</option>
      <option value="">F</option>
      <option value="">T</option>
    </select>
    <select name="" id="">
      <option value="">A</option>
      <option value="">O</option>
      <option value="">T</option>
      <option disabled value="">V</option>
    </select>
    <select name="" id="">
      <option value="">T</option>
      <option value="">R</option>
      <option value="">Z</option>
      <option value="">Y</option>
    </select>
    <select name="" id="">
      <option value="">T</option>
      <option value="">I</option>
      <option value="">N</option>
      <option value="">W</option>
    </select>
    <button></button>
    <button></button>
    <h1>M</h1>
    <h2>M</h2>
    <h1>please look for these down there</h1>
    <input type="date" name="" id="" />
    <details>
      <summary>Z</summary>
      <div>
        <button>Shaffle key</button>
        <keygen />
        <button type="submit">Porquip</button>
        <h2>Check wingdings</h2>
        <h4>Tanson</h4>
        <thead>Hawoe</thead>
        <h2>Find all button stuff</h2>
        <input disabled value="alora" type="text" />
        <textarea disabled name="" id="">alora</textarea>
      </div>
    </details>
    <details>
      <summary>Z</summary>
      <div>
        <button disabled="disabled">Ueila</button>
      </div>
    </details>
    <ol>
      <li>Open The Top Z Summary</li>
    </ol>
    <h2>woah!</h2>
    <menu>eatan</menu>
    <button type="submit">Bottom</button>
    2. open the bottom Z summary, then press "ueila" and go far down
    <h2>Prizer won</h2>
    <link rel="manifest" href="manifest.json" />
    <h2>wocks</h2>
    <h1>2026</h1>
    <script>
      import SliderInput from '@/components/SliderInput.astro'

      javascript
      SliderInput
      DocumentTimeline
    </script>
    <h3>3</h3>
    <h4>4</h4>
    <h5>5</h5>
    <h6>6</h6>
    <details>
      <summary>Z</summary>
      <div>
        <h1>Time for this</h1>
        <h2>Ah hah</h2>
        <h3>nice throw</h3>
      </div>
    </details>
    <h1>All done! you've made it</h1>
    <input type="datetime-local" name="" id="" />
    <h5>The rare hogs name is Bromson</h5>
    [[]]
    <h2>T</h2>

    <h1>prizer</h1>
    <select name="" id="">
      <option value="">PILOT</option>
      <option value="">30</option>
      <option disabled value="">60</option>
      <option disabled value="">90</option>
    </select>
    <details>
      <summary>Alora</summary>
      <div>
        <h1>1</h1>
        <h2>2</h2>
      </div>
    </details>
    <h2>Weppsitictor</h2>
    <h4>your game?</h4>
    <input type="file" name="" id="" />
    we saved our daughter from tung tung sahur
    <option value="">and</option>
    <option value="">And</option>
    <option value="">AND</option>
    <option value="">AND!!!</option>
    <h1>Value</h1>
    <input value="2" type="number" name="" id="" />
    <h1>End</h1>
  </body>
</html>
