<h3>please fill in the input</h3>
<form action="">
  1 2 3 4 <input maxlength="1" type="text" name="" id="" />6 7 8 9 10
</form>
<h3>what you learned</h3>
<h2>to add a missing number</h2>
<br />
<br />
<br />
<h3>find</h3>
in here we make a ton of <h2>clips</h2> to show your writes
<br />
<br />
<br />
<br />
<br />
<h3>to use strength, please use new and small letters</h3>
<h1>Read story</h1>
<sub>how they work</sub>
<br />
<br />
they use the food to fight in. use in and out, to practice 1 and 3. but, this is
a game. use light switches and play along
<h2>how sro12 works:</h2>
sro12 is a game that works for actual switches that can be used
<br />
<br />
2 inputs:
<br />
<br />
1 input is the number of switches. it goes up to 9 total
<br />
<br />
the other input is for your combination. so, numbers that exist will be a switch
off
<br />
<br />
<h1>For example:</h1>
let's say i wanted switch 1, and 2 off and 3 on. i would need to make it a 12 or
21. because:
<br />
<br />
<h3>numbers that exist will remain off</h3>
<h1>Show what you know</h1>
<h2>A</h2>
<h5>how do they remain when <i>not</i> existed?</h5>
<label>On <input type="radio" name="A" id="" /></label>
<br />
<label>Off <input type="radio" name="A" id="" /></label>
<h2>B</h2>
<h5>what does the first input do on the left?</h5>
<input type="text" />
<h2>C</h2>
<h5>go to sro12. what does the button look like? what style?</h5>
<textarea name="" id="" cols="30" rows="10"></textarea>
<br />
<br />
<br />
<h2>how main breakers work</h2>
<br />
<br />
main breakers turn off a lot of power in the <b>house</b>. the house uses it's
strength to make it more easy. like, use this main breaker
<br />
<br />
<h1>Answer time!</h1>
<h2>A</h2>
<h5>what does a main breaker do?</h5>
<label>turns house off <input type="radio" name="B" id="" /></label>
<br />
<label>is a toy <input type="radio" name="B" id="" /></label>
<br />
<label>cannot be loaded <input type="radio" name="A" id="" /></label>
<h2>B</h2>
<h6>(Optional)</h6>
<h5>what happens if you leave the main breaker off foreve?</h5>
<label
  >the house would become powerless <input type="radio" name="C" id="" /></label
>
<br />
<label>the house would of died <input type="radio" name="C" id="" /></label>
<h2>C</h2>
<h5>make your own subject. describe it to us and print</h5>
