---
import Menu from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Menu />
    <h2>touch some things to unlock your textarea</h2>
    <input type="checkbox" name="" id="" />
    <input type="checkbox" name="" id="" /> Vent
    <input type="checkbox" name="" id="" /> Fan Circle
    <input type="checkbox" name="" id="" /> Fan Line
    <input type="checkbox" name="" id="" /> Fan Carmen
    <input type="checkbox" name="" id="" /> vent ceiling
    <input type="checkbox" name="" id="" /> Video Straits
    <input type="checkbox" name="" id="" /> Attic Corner
    <input type="checkbox" name="" id="" /> circuit Breakers
    <input type="checkbox" name="" id="" /> Skylight Window
    <input type="checkbox" name="" id="" /> Box
    <input type="checkbox" name="" id="" /> Plate circle
    <input type="checkbox" name="" id="" /> Brain
    <textarea disabled name="" id="" rows="10"></textarea>
    <details>
      <summary>More</summary>
      <div>
        <input type="checkbox" name="" id="" /> Boys Noise
        <input type="checkbox" name="" id="" /> Mr. Phillips's Forehead
        <input type="checkbox" name="" id="" /> Ceiling Raincurv
        <input type="checkbox" name="" id="" /> Carmen's Forehead
        <input type="checkbox" name="" id="" /> Horse's Straits
        <input type="checkbox" name="" id="" /> Maintenence Straits
        <details>
          <summary>More</summary>
          <div>
            <input type="checkbox" name="" id="" /> Cow Straits
            <input type="checkbox" name="" id="" /> Blazian Straits
            <input type="checkbox" name="" id="" /> Wood Bricks
            <input type="checkbox" name="" id="" /> Zaezerazres
          </div>
        </details>
      </div>
    </details>
    <details>
      <summary>WORST ONES</summary>
      <div>
        <input type="checkbox" name="" id="" /> Poop
        <input type="checkbox" name="" id="" /> Carmen's Pee
        <input type="checkbox" name="" id="" /> Electricity Straits
        <input type="checkbox" name="" id="" /> Cat Vomit
        <input type="checkbox" name="" id="" /> Horses Ass
        <input type="checkbox" name="" id="" /> Concerned Plate Circle
        <input type="checkbox" name="" id="" /> Fan Line 2
      </div>
    </details>
    <input type="checkbox" name="" id="" /> Fan Line 3
    <input type="checkbox" name="" id="" /> All Fan Lines
    <input type="checkbox" name="" id="" /> Mustang
    <input type="checkbox" name="" id="" /> Racing Back and Fourth
    <br />
    <h2>which fan Circle?</h2>
    <select name="" id="">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
      <option value="">5</option>
    </select>
    <h2>Where?</h2>
    <select name="" id="">
      <option value="">Napa</option>
    </select>
    <h1>IXL</h1>
    <h2>Prizer's don't last without Joe involved</h2>
    <h1>How Much Money do you need?</h1>
    $<input max="144" type="number" name="" id="" />
    <mark>Idea</mark>
    <input type="datetime" name="" id="" />
    <input type="time" name="" id="" />
    the time shows how you <mark>actually</mark> reserve
    <h1>Touch the fan circle to unlock:</h1>
    <h3>Timelapse Straits</h3>
    <details>
      <summary>Prizer</summary>
      <div>
        <h2>Cations to the prizer</h2>
        <h4>you always make prizers awesome!</h4>
        <h5>We hold many things to insure a prizer</h5>
        <div></div>
      </div>
    </details>
    <h2>your Prizer has one of your characters</h2>
    <input type="checkbox" name="" id="" /> EVERYONE!!!
    <input value="prizers" type="text" />
    <h2>Good Job!</h2>
    <h6>Give us a reason why you wanted to win a prizer</h6>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <h2>Write your name</h2>
    <input placeholder="Name" type="text" />
    <h2>you can send a text message to!</h2>
    <h1>this =</h1>
    <a href="tel:+">Cecily Kempton</a>
    <h2>Chaimer</h2>
    <h4>what prizer should last?</h4>
    your prizers can <mark>work w</mark>ith the government
    <h3>do you need a break?</h3>
    <input type="radio" name="a" id="" /> Yes
    <br />
    <input type="radio" name="a" id="" /> No
    <h1>Tamper</h1>
    <portal>Can it Tree?</portal>

    <h2>your Tampers need a discription</h2>
    <h3>Tampers like portals</h3>
    <h1>Sensor Status Clainge</h1>
    <input type="checkbox" name="" id="" />
    <h1>How to unlock Fan Circle options 1-5</h1>
    <h4>
      there are these little buttons. when you press it, you unlock one of those
      5
    </h4>
    <h2>your pee level is 100%</h2>
    <h4>How can Tampers incider?</h4>
    <h2>Little things</h2>
    the little things are <mark>little</mark> buttons and ca<a href="">n</a> use
    more energy!
    <h1>1</h1>
    <h2>2</h2>
    <h3>3</h3>
    <h4>4</h4>
    <h5>5</h5>
    <h6>6</h6>
    <h1>TONK</h1>
    <h3>Tonking Can illistrate a Tank Tenk Tink Tonk Tunk</h3>
    <h1>BIG PRIZER</h1>
    <h2>you unlocked all 5 options</h2>
  </body>
</html>
