---
import Menu from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Menu />
    <h4>Help us win prizers</h4>
    <input value="68" type="radio" name="" id="" /> Beat
    <br />
    <input value="49" type="range" name="" id="" /> Guitar
    <br />
    <input value="77" type="range" name="" id="" /> Loud drums
    <br />
    <input value="60" type="range" name="" id="" /> Melody
    <br />
    <input value="81" type="range" name="" id="" />
    <mark>Camila</mark> drums
    <br />
    <input value="55" type="range" name="" id="" /> Highlow Session
    <br />
    <keygen />
    <input value="8" type="range" name="" id="" /> Soft Calming 🙂‍↔️
    <br />
    <input value="100" type="range" name="" id="" /> Super Loud
    <br />
    <input value="39" type="range" name="" id="" /> Dratar
    <details>
      <summary>Z</summary>
      <div>
        <h1>Prizer</h1>
        <h4>Help us make the game better</h4>
      </div>
    </details>
    <acronym title="Dullsh">Across</acronym>
    <details>
      <summary>Name of game</summary>
      <div>
        <h1>Camila</h1>
      </div>
    </details>
    <a href="">Key</a>
    <!--[if IE]>Key<![endif]-->
    <h1>Check out</h1>
    <input disabled value="31" type="range" name="" id="" />
    <br />
    <input disabled value="60" type="range" name="" id="" />
    <br />
    <input type="checkbox" name="" id="" /> Illuminate Ficture
    <details>
      <summary>Endpoint</summary>
      <div>
        <h1>1</h1>
        <h2>2</h2>
        <h3>3</h3>
        <h4>4</h4>
        <h5>5</h5>
        <h6>6</h6>
      </div>
    </details>
    <h3>Touch the Light chain to unlock this part:</h3>
    <canvas></canvas>
    <canvas></canvas>
    <h3>Wary Splash</h3>
    <input value="33" type="range" name="" id="" />
    <br />
    <input value="63" type="range" name="" id="" />
    <h1>Prizer Winning</h1>
    🔑
    <h2>Got it!</h2>
    <details>
      <summary>🧻</summary>
      <div>
        <button>$30</button>
        <br />
        <button>$60</button>
        <br />
        <button>$110</button>
        <br />
        <button>$1630</button>
      </div>
    </details>
    <button>All</button>
    🪛
    <h2>Repair the machine</h2>
    <details>
      <summary>⛏️</summary>
      <div>
        <select name="" id="">
          <option value="">Don't Ovveride</option>
          <option value="">Off</option>
          <option value="">On</option>
        </select> Strength
        <br />
        <select name="" id="">
          <option value="">Don't Ovveride</option>
          <option value="">Very low</option>
          <option value="">Low</option>
          <option value="">Off</option>
          <option value="">High</option>
          <option value="">Very High</option>
        </select> Carbon Dioxide
        <br />
        <select name="" id="">
          <option value="">Don't Ovveride</option>
          <option value="">Slow</option>
          <option value="">Off</option>
          <option value="">Fast</option>
        </select> Grogaties
      </div>
    </details>
    <meta />
    <h5>Prizer Contch</h5>
    <h2>Let's win a prizer!</h2>
    <i>it is the best</i>
    <h3>that is neat!</h3>
    🥈
    <details>
      <summary>More</summary>
      <div>
        <button type="submit"></button>
      </div>
    </details>
    ▲
    <br />
    ▼ 63 ✕✓
    <h2>rating to Camila:</h2>
    ★★☆☆☆
    <details>
      <summary>Your games:</summary>
      <div>
        <h1>hot and cold</h1>
        <h1>time for this</h1>
        <h1>webbed feet</h1>
        <h1>hairhair</h1>
        <h1>wiwifeet</h1>
        <h1>tummitumin</h1>
      </div>
    </details>
    <h1>looser</h1>
    <q>ducks</q>
    <button>Practice</button>
    <button>♻︎</button>
    <h1>ZXX</h1>
    <h1>ZZX</h1>
    <h1>ZZZ</h1>
    <h1>XZZ</h1>
    <h1>XXZ</h1>
    <h1>XXX</h1>
    <h1>XZX</h1>
    <h1>ZXZ</h1>
    ●▲◼︎❤︎
    <h2>688/8,111,286,053,020 Likes</h2>
    <input type="text" />
    <br />
    <input type="text" />
    <br />
    <input type="text" />
    <h1>End</h1>
  </body>
</html>
