---
import Menu from '@/components/menu.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <Menu />
    <h1>prizer</h1>
    <details>
      <summary>Openup</summary>
      <div>
        <textarea name="" id="" rows="10"></textarea>
      </div>
    </details>
    <h2>try to win us</h2>
    <h3>prizer lasting</h3>
    <h4>4</h4>
    <details>
      <summary>Fune retails</summary>
      <div>
        <select name="" id="">
          <option value="">Learning</option>
          <option value=""></option>
          <option value="">Difficult</option>
        </select>
      </div>
    </details>
    <h2>5 5</h2>
    <h4>don't open</h4>
    <details>
      <summary>Name of game</summary>
      <div>
        <h1>carol anne</h1>
      </div>
    </details>
    <link rel="stylesheet" href="print.css" media="print" />
    <var>Find html</var>
    <h2>Code</h2>
    <code>2 8 8 2 8 1</code>
    <h3>text to speech</h3>
    <textarea name="" id="" rows="10"></textarea>
    <button>Speak the words</button>
    <button>Else</button>
    <h3>prizer lasting</h3>
    <h2>2</h2>
    <details>
      <summary>Jiggle suprise</summary>
      <div>
        <h5>5</h5>
      </div>
    </details>
    <h2>Fune Retails</h2>
    <h5>Set your antention to face your brain</h5>
    <details>
      <summary>Fune retails</summary>
      <div>to learn, normal, or uneasy</div>
    </details>
    <h6>6</h6>
    <h1>X</h1>
    <input placeholder="2 8 8 2 8 1" type="text" />
    <u>this ga</u>me is your priz<u>er</u>
    <h1>1</h1>
    <h2>what is open?</h2>
    <button type="submit">Prizer</button>
    <button disabled="disabled">Alora Prizer</button>
    <details>
      <summary>High-fives = earthquake</summary>
      <div>
        sometimes, when we high-five someone too pretty, it causes earthquakes
        in our bodis because the hand touched the person. if <mark
          >carol anne</mark
        > high-fived james, it means it'll cause serious damage to enviornment and
        probobly might cause all the cake make and to other points. this is what
        <u>causes suspension cable</u>s in the air, according to the law. if you
        high-five m*la, it causes extremely panics and maybe even a bloose. if
        you do this too often, it causes the kids to stick out
        <dl>Good</dl>
        <dd>something that is nice</dd>
      </div>
    </details>
  </body>
</html>
