---
const kids =
  'mr. phillips, ryan, mrs. kobylka, cindy, mrs. cowley, lorie, mrs. abrams, samara'.split(
    ', '
  )
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width={device-width}, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      {
        kids.map((item, index) => (
          <button type="button" data-name={item}>
            {index + 1}
          </button>
        ))
      }
    </main>
  </body>
</html>

<style>
  main {
    display: flex;
    gap: 10px;
  }
  main > button {
    padding: 1rem;
    font-size: 18px;
  }
</style>

<script>
  document.querySelectorAll('main > button').forEach(button => {
    button.addEventListener('click', e => {
      const {name} = e.currentTarget.dataset
      alert(name)
    })
  })
</script>
main > <button type="submit"></button>
<style></sty
    le>
    script ({[
        AddEventListener
    ]})
    (
        (
            (
                (
                    (


                    )
                )
            )
        )
    )
    ("'{[(['"
    feComponentTransfer)
{
    [
        {
            [
                {
                    [
                        [
                            [
                                [
                                    [
                                        []
                                    ]
                                ]
                            ]
                        ]
                    ]
                }
            ]
        }
    ]
}
{
    {
        {
            {
                {
                    {
                        {
                            [[[[
                                {{{{{{{{{{
                                    button {
                                        button {
                                            button {
                                                button {
                                                    button {

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }}}}}}}}}}
                            ]]]]
                        }
                    }
                }
            }
        }
    }
}
{
    {
        {
            {
                {
                    {
                        {

                        }
                    }
                }
            }
        }
    }
}
html