<h1>welcome!</h1>
<h2>this app is a very good app</h2>
<h3>choose your select and select an option that is high enough</h3>
<h4>trigger your buttons using a script tag</h4>
<h5>make this app. it is age rating 4+</h5>
<h6>choose whatever you want. there is a button for you. look below</h6>
<button id="submitter">Submit</button>
<script>
  document.querySelector('#submitter')?.addEventListener('click', e => {
    alert('Submitted!')
  })
</script>
<select name="" id=""
  ><option value="go">ganses</option>
  <option value="make">mitures</option>
  <option value="teamers">any</option>
  <option value="friends">all</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option></select
>

<select name="" id=""></select>
