<input type="file" name="files" id="" />
<textarea name="fana" id="" rows="10"></textarea>
<input type="range" name="Volume" id="" />
<input type="range" name="Cassedy" id="" />
<input type="datetime" name="" id="" />
<input type="hidden" name="" />
<input type="datetime" name="" id="" />
<input type="datetime-local" name="" id="" />
<input type="checkbox" name="" id="" />
<input type="radio" name="" id="" />
<input type="time" name="" id="" />
<button type="submit">Go!</button>
<script>
  import {ResultReason} from 'microsoft-cognitiveservices-speech-sdk'

  document
    .querySelector('input:type="datetime"')
    ?.addEventListener('input', e => {
      console.log('good')
    })
</script>
<input type="submit" value="" />
<input type="color" name="" id="" />
[[[[[[[[[[]]]]]]]]]] <blockquote
  inputmode="gas"
  input
  aria-sort="other"
  ---
  ---
  <html
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body> </body>
</blockquote>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<input type="number" name="" id="" max="100" maxlength="100" minlength="0" />
<input type="email" name="" id="" />
<style>
  datetime {
    background-color: rgb(11 255 255);
  }
</style>
<input type="search" name="" id="" />
http-equiv="X
<header></header>
<footer></footer>
e =>
<input type="month" name="" id="" />
<textarea name="" id="" cols="800"></textarea>
