<h2>html learning</h2>
<h4>every html</h4>
<h1>html is needed if:</h1>
<textarea name="" id="" cols="30" rows="10"></textarea>
<h1>html 5 is needed if:</h1>
<textarea name="" id="" cols="30" rows="10"></textarea>
<canvas></canvas>
<h3>(Rare)</h3>
<h1>html xml is needed if:</h1>
<textarea name="" id="" cols="30" rows="10"></textarea>
<h1>html page is needed if:</h1>
<textarea name="" id=""></textarea>
<h3>social club</h3>
<h6>used if you make more then ever</h6>
<h3>
  if you were an artist, how would you want to paint your app? what color?
</h3>
<textarea placeholder="(Optional)" name="" id="" cols="30" rows="10"></textarea>
<h3>in the story, why did the silly man say jungle?</h3>
<textarea name="" id="tol1" cols="30" rows="10"></textarea>
in a jungle, three people were in the cave. a silly man came and said jungle. he
said jungle because he likes jungles. and the men got confused about the silly man.
the silly man wanted to use his own shoelase. but that was his reason. everyone was
in trouble!
<details>
  <summary>your answer</summary>
  <div>
    <textarea
      disabled
      placeholder="you didn't type any answers"
      name=""
      id="tol2"
      cols="30"
      rows="10"></textarea>
  </div>
</details>

<script>
  document.querySelector('#tol1').addEventListener('input', e => {
    document.getElementById('tol2').innerHTML = e.target.value
  })
</script>
