in the story, we have all the stuff we need in our link. my link has a lot of <a
  ---
  ---
  <html
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body> </body>
</a>
href="http://trash">trash. i make sure that i am <u>practicing for</u> the day. in
my day, it goes back to no pages, it is just a <input
  type="password"
  name=""
  id=""
/>
<h1>Points</h1>
<h2>total points</h2>
<h4>points that you need in all to earn something</h4>
<h2>sprick points</h2>
<h4>points that you have until you get it</h4>
<h2>penis points</h2>
<h4>points you earn when you use the bathroom. it is sometimes placed</h4>
<h2>alag points</h2>
<h4>the number of points of a password</h4>
<h2>how many points do you have? penis points, or maybe even sprick points</h2>
<input placeholder="total points" type="text" />
<input placeholder="sprick points" type="text" />
<input placeholder="penis points" type="text" />
<input placeholder="alag points" type="text" />
<h3>tap each button to see what each point means</h3>
<button id="a">total</button>
<button id="2nd">sprick</button>
<button id="3rd">penis</button>
<button id="4th" disabled="disabled">alag</button>
<h2>Warning</h2>
<h4>alag points are for passwords. alerts can't be about passwords</h4>
<script>
  document.querySelector('#a').addEventListener('click', e => {
    alert('points you earn in all!')
  })
</script>
<h3>why do you think the alag button is disabled?</h3>
<textarea name="" id=""></textarea>
<style>
  textarea {
    width: 70%;
    height: 50vh;
  }
</style>
<h4>
  mitch has 50 cards. he gives 5 to chris. how many cards does he have now?
</h4>
<h3>circle the math style</h3>
<button>+</button>
<button>-</button>
<button>x</button>
<button>รท</button>
50-5= <input set:text="1" type="number" name="" id="" />
so mitch has <input type="number" name="" id="" /> cards now

