<h1>welcome to html</h1>
<h2>here are the htmls. first, if you were a teacher, what would you go by?</h2>
<select name="" id="">
  <option value="">Mr.</option>
  <option value="">Ms.</option>
  <option value="">Mrs.</option>
</select>
<input placeholder="Name" type="text" />
<h2>what is your first name?</h2>
<input placeholder="First Name" type="text" />
<h1>Html station</h1>
<h2>html:5</h2>
<div>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body> </body>
  </html>
</div>
<h2>html:xml</h2>
<div><html xmlns="http://www.w3.org/1999/xhtml"></html></div>
<h2>page html</h2>
<div>
  --- ---

  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Document</title>
    </head>
    <body> </body>
  </html>
</div>
here are your options:
<select name="" id="">
  <option value="">html</option>
  <option value="">html:5</option>
  <option value="">html:xml</option>
  <option value="">page_html</option>
</select>
so you use <input type="text" /> for html
<h1>time for this</h1>
break rake bank saver money my best friend charlie went to the <input
  type="text"
/> to buy some <input type="text" /> with the boy and the html to see everything.
the type of html that <input type="text" /> uses is <input type="text" /> so if you
press this <button disabled="disabled"></button> you need to be good
