<html>
  <body>
    <style>
      html {
        background-color: rgb(128 128 128);
      }
      textarea {
        width: 300pt;
        height: 300pt;
      }
    </style>
  </body>
</html>
<input type="text" />
html {(<base href="big" />)}
<textarea name="write your own thing" id=""></textarea>
