<style>
  body {
    background-color: rgb();
  }
  textarea {
    width: 52pt;
    height: 20ptt;
  }
  input {
    width: 100%;
    height: 20pt;
  }
  section {
    color: rgb(0 255 255);
    padding: 160px;
  }
  #er {
    background-color: rgb(0 0 0);
    height: 300pt;
    width: 300pt;
    color: rgb(255 255 255);
  }
</style>
<div>.</div>
<textarea name="write your own story here:" id=""></textarea>
<input type="text" />
<section>this is a section</section>
<fieldset>
  <legend>oliver</legend>
</fieldset>
<select name="" id="">
  <option>Dog </option>
  <option>railway</option>
  <option>tub</option>
  <option>tree</option>
</select>
<textarea name="what should it be?" id="er"></textarea>
<button>search</button>
