<div>hey</div>
<style>
  html {
    background-color: rgb(255 255 255);
  }
  textarea {
    width: 300pt;
    height: 300pt;
    math-depth: 60pt;
  }
  button {
    width: 300pt;
    height: 300pt;
    border-radius: 100%;
    color: rgb(255 0 0);
    background-color: rgb(255 0 0);
  }
  textarea {
    background-color: rgb(255 255 255);
    border-radius: 1%;
    color: hex: 464432
  }
  option {
    background-color: rgb(128 128 128);
  }
</style>
<textarea name="" id=""></textarea>
<button>$</button>
<option value="hello"></option>
<select name="choose a name" id="">
  <option value="">border</option>
  <option value="">tina</option>
  <option value="">loso</option>
</select>
<main>hi there, write a thing in the textarea, then press the huge red button that is round</main>
