<textarea name="what is something you can write" id=""></textarea>
<style>
  textarea {
    height: 200pt;
    width: 200pt;
    color: rgb(250 250 250);

    border: 1pt solid;
    border-radius: 1%;
  }
  html {
    background-color: rgb(255 255 255);
    color: rgb(250 250 250);
  }
</style>
<button type="submit">submit</button>
<input type="textarea should be what?"
