---
import {styleText} from 'util'
---

<button>search</button>

<button id="fard"></button>
<textarea name="" id=""></textarea>
<style>
  textarea {
    background-color: rgb(0 128 255);
    border-radius: 0pt;
    border-top: 6000pt;
    border-right: 4pt;
    border-bottom: 2pt;
    border-left: 1pt;
    width: 400pt;
    height: 400pt;
  }
  textarea {
    width: 0.001pt;
    height: 0.001pt;
  }
</style>

<header>Hello</header>
<footer>hello</footer>
<meta />

<textarea name="" id=""></textarea>
