---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main>
    <h2>Retails</h2>
    <h4>tell us retails</h4>
    <details>
      <summary>Retails</summary>
      <div>
        the name of the game is:
        <br />
        <select name="" id="">
          <option value="">F</option>
          <option value="">I</option>
          <option selected value="">J</option>
          <option value="">X</option>
        </select>
        <select name="" id="">
          <option selected value="">o</option>
          <option value="">n</option>
          <option value="">t</option>
          <option value="">w</option>
        </select>
        <select name="" id="">
          <option value="">c</option>
          <option selected value="">r</option>
          <option value="">a</option>
          <option value="">p</option>
        </select>
        <select name="" id="">
          <option value="">b</option>
          <option selected value="">y</option>
          <option value="">l</option>
          <option value="">t</option>
        </select>
      </div>
    </details>
    <h2>Retails help us</h2>
    <h5>Valt</h5>
    <button></button>
    <h2>2</h2>
    <input type="checkbox" name="" id="" />
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <h3>write anything you'd like</h3>
    <details>
      <summary>X</summary>
      <div>
        <h3>this is your name</h3>
        <h6>Jory</h6>
        <input type="week" name="" id="" />
      </div>
    </details>
    <details>
      <summary>Z</summary>
      <div>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
      </div>
    </details>
    <details>
      <summary>Backs</summary>
    </details>
    <h3>zaniuse</h3>
    <h4>Use zaniuse</h4>
    <details>
      <summary>Zaniuse</summary>
      <div>
        <h1>Prizer</h1>
        <h3>Try winning prizers</h3>
        <select name="" id="">
          <option value="">Hei</option>
          <option disabled value="">Pawb</option>
        </select>
      </div>
    </details>
    lx of zaniuse:
    <h2>the return button</h2>
    <a href="http://www.boodeboo.com/talkers2">T</a>ry to see what zaniuse does
    in this game
    <h2>Try zaniuse to everything</h2>
    <h1>QX</h1>
    <h4>QX is a zaniuse to the name of the game</h4>
    <details>
      <summary>QX</summary>
      <div>
        <input type="checkbox" name="" id="" /> Zaniuse & Durden's VO
      </div>
    </details>
    <h1>Returning Javascript</h1>
    <input type="file" name="" id="" />
    <h2>Trinh</h2>
    <h4>using game profile</h4>
    <select name="" id="">
      <optgroup>Jory</optgroup>
      <option value="">Calm</option>
      <option value="">Whammy</option>
      <option value="">Sloomy</option>
      <option value="">Trachy</option>
      <option value="">Swits</option>
      <option value="">Swswitch</option>
      <option value="">Quaxalone</option>
      <option value="">DEERFAQUE</option>
    </select>
    <bdo dir="rtl">tnucalinapolisanituctonarsiP</bdo>
    Try to see what zaniuse does in this game!!!
    <h2>SUPER-MASTER-ZANIUSE</h2>
    <details>
      <summary>H1</summary>
      <div>💖💖Camila💖💖</div>
    </details>
    <h1>End</h1>
  </main>
</Layout>

<style>
  main {
    padding: 100px 40px;
  }
</style>
