---

---

<code>9 0 8 4 6 1</code>
<h3>Wew</h3>
<h2>check the code</h2>

<button type="reset">Warp</button>
<button>Zame</button>
<h1>Space</h1>
<h3>equal</h3>
<details>
  <summary>!</summary>
  <div>
    <select name="" id="">
      <option value="">85</option>
      <option value="">100</option>
      <option value="">102</option>
      <option value="">104</option>
      <option value="">106</option>
      <option value="">108</option>
      <option value="">110</option>
      <option value="">112</option>
      <option value="">114</option>
      <option value="">116</option>
      <option value="">118</option>
      <option value="" selected>120</option>
      <option value="">125</option>
      <option value="">130</option>
      <option disabled value="">140</option>
    </select>
  </div>
</details>
<h1>never open this</h1>
<h3>Help us</h3>
<input maxlength="1" type="text" />
<input maxlength="1" type="text" />
<input maxlength="1" type="text" />
Water heater setings:
<br />
<select name="" id="">
  <option value="">OFF</option>
  <option value="">PILOT</option>
  <option value="">VAC</option>
  <option value="" selected>LOW</option>
  <option value="">HOT</option>
  <option value="">A</option>
  <option value="">B</option>
  <option value="">C</option>
  <option value="">VERY HOT</option>
  <option value="">MAXIMUM</option>
</select>
<h1>Please win a prizer</h1>
<button></button>
<textarea name="" id="">Enter text</textarea>
<picture>MAR/22/2025</picture>

<img
  width="700000"
  height="59676"
  src="/lasko/photos/IMG_2956.jpeg"
  alt="lasko"
/>
