---
import Menu from '@/components/menu.astro'
import Layout from '@/layouts/Layout.astro'
Layout
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Menu />
    <h1>how many feet is each thing? measure</h1>
    <input type="text" /> Fan circle
    <br />
    <input type="text" /> Corner
    <br />
    <input type="text" /> Absolute corner (2)
    <br />
    <input type="text" /> Skylight window
    <br />
    <input type="text" /> Tippy top <input
      placeholder="Tippy top"
      type="text"
    />
    <br />
    <input type="text" /> Half slope
    <br />
    <input type="text" />
    <input type="checkbox" name="" id="" />
    <br />
    <textarea placeholder="Notes" name="" id="" rows="10"></textarea>
    <h2>Prizer</h2>
    <h4>Tell us the turkey type you are</h4>
    <select name="" id="">
      <option value=""> </option>
      <option value="">Tiny Turkey</option>
      <option value="">Slight Turkey</option>
      <option selected value="">Default</option>
      <option value="">Profesional Turkey</option>
      <option value="">Extreme Turkey</option>
      <option value="">X Turkey</option>
      <option value="">MEGATURKEY</option>
    </select>
    <h1>Tiny</h1>
    not a good family maker, sad families, and only 1 person
    <h1>Slight</h1>
    makes named families, but not unnamed, like the hostile family is a named family
    <h1>Default</h1>
    is a family maker, and can do the families
    <h1>Professional</h1>
    can sell families and make screenshots of them to share to aysia and everyone
    else
    <h1>Extreme</h1>
    can REALLY make families, which can make them everywhere and sell them. if the
    extreme turkey made everyone, nobody's in the world!
    <h1>X</h1>
    is the main force of the family team, which can be very good at families. this
    means you can make little girls. these are secret. the main secret one is Kate
    <h2>What turkey are you?</h2>
    <h3>a normal family</h3>
    there are usually 6 people in the families. sometimes, there is actually 5. secret
    girls are hidden in my town world

    <h1>who do you want to know about?</h1>
    <select name="" id="">
      <option value="">None</option>
      <option value="">Named</option>
      <option value="">All families</option>
      <option value="">Everyone</option>
      <option value="">Everyone in the world</option>
    </select>
    <h2>Ranking</h2>
    1. ladi franka
    <br />
    2. fahon migily
    <br />
    3. oscar jones
    <br />
    4. snally ree
    <br />
    5. poetry magnasa
    <details>
      <summary>More</summary>
      <div>
        6. kate jones
        <br />
        7. billy rock
        <br />
        8. james kempton
        <br />
        9. allison cook
        <br />
        10. nora nere
      </div>
    </details>
    <h1>That's everyone</h1>
    <select name="" id="">
      <option value="">Awful</option>
      <option value="">Bad</option>
      <option value="">Not sure</option>
      <option selected value="">Good</option>
      <option value="">Great</option>
      <option value="">SUPER!</option>
    </select>
    <select name="" id="">
      <option value="">Thing</option>
      <option value="">Rocky</option>
      <option value="">Job</option>
      <option value="">Knife</option>
      <option value="">Tretchetch</option>
    </select>
    <details>
      <summary>X</summary>
      <div>
        <h1>Good</h1>
        <h1>Job</h1>
      </div>
    </details>
    <h2>write this in the notes above</h2>
    today my friend was walking with me
    <h1>Step 1</h1>
    go above to the textarea that has the placeholder "notes" near the measuring
    stuff
    <h1>Step 2</h1>
    write about a friend walking with someone
    <h1>Step 3</h1>
    make sure your options are at "good" "job"
    <br />
    like this:
    <h1>Step 4</h1>
    open the "Z" summary
    <h1>Step 5</h1>
    press the little buttons like:
    <br />
    <button></button>
    <h1>Step 6</h1>
    measure all the things to unlock this
    <h1>Step 7</h1>
    read all the turkey types
    <h1>Step 8</h1>
    please know about "all families"
    <h1>Step 9</h1>
    read all the rankings
    <h1>Step 10</h1>
    you're unlocked
    <h2>Yes, you won a prizer!</h2>
    <h3>this means you are free!</h3>
    <input disabled type="time" name="" id="" />
    <details>
      <summary>Z</summary>
      <div>
        <textarea disabled name="" id=""></textarea>
        <input type="datetime-local" name="" id="" />
        <h1>3 3 3 8 5 4</h1>
        <h1>Name:</h1>
        <h3>Mila</h3>
        <h5>what is your rare hog's name?</h5>
      </div>
    </details>
    <button>Name app</button>
    <input value="128 128 255" type="color" name="" id="" />
    <i>Book Of The Name</i>
    <h3>Dark Library</h3>
    <input type="file" name="" id="" />
    <h6>tell us the best part</h6>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br />
    <button></button>
    <br />
    <button></button>
    <br />
    <button></button>
    <br />
    <button></button>
    <br />
    <button></button>
    <input placeholder="Code" type="text" />
    <h4>Hint:</h4>
    <h6>open Z</h6>
    <input type="text" />
    <h2>you've passed!</h2>
    <html xmlns="http://www.w3.org/1999/xhtml"></html>
    <h2>You won!!!</h2>
    play <input type="text" /> all the time to unlock <i>way</i> down here
    <h2>Choose company to indify the illistration. this is very tricky</h2>
    <input type="radio" name="a" id="" /> company
    <br />
    <input type="radio" name="a" id="" /> wook
    <br />
    <input type="radio" name="" id="" /> weppsitictor
    <h2>oh no!</h2>
    <h3>there's a problem</h3>
    mention a MEGATURKEY
    <details>
      <summary>Postpon</summary>
      <div>
        <h1>MEGATURKEY</h1>
        can make fantastic excellent families and sell them
      </div>
    </details>
    <h2>You're almost there, just talk about Recha</h2>
    <input placeholder="Postpon" type="text" />
    <h1>1 more thing!!!</h1>
    <h3>were you on the roof?</h3>
    <button type="reset">Yes</button>
    <button>No</button>
    <h1>End</h1>
  </body>
</html>

<style>
  body {
    padding: 44px 25px;
  }
</style>
