<h2>hi there!</h2>
<h3>adjust the slider</h3>
<input placeholder="please adjust" type="range" name="" id="" />
<h1>what is a slider?</h1>
<details>
  <summary>Details</summary>
  <div>
    a slider is something to test how high or low it is. please adjust this one: <input
      type="range"
      name=""
      id=""
    />
  </div>
</details>
<h3>now that you know what it is, let's add details to the situation</h3>
<h2>create your own schedule:</h2>
<style>
  input {
    width: 100%;
  }
</style>
<h2>what is it?</h2>
<input placeholder="What is it?" type="text" />
<h2>days of the week:</h2>
<label>Sunday <input type="checkbox" name="" id="" /></label>
<label>Monday <input type="checkbox" name="" id="" /></label>
<label>Tuesday <input type="checkbox" name="" id="" /></label>
<label>Wednesday <input type="checkbox" name="" id="" /></label>
<label>Thursday <input type="checkbox" name="" id="" /></label>
<label>Friday <input type="checkbox" name="" id="" /></label>
<label>Saturday <input type="checkbox" name="" id="" /></label>
<label>Snuggleday <input type="checkbox" name="" id="" /></label>
<label>Daniday <input type="checkbox" name="" id="" /></label>
<label>Posterday <input type="checkbox" name="" id="" /></label>
<h3>how to unlock new checkboxes</h3>
<h4>earn rewards and unlock new options and weeks</h4>
<select name="" id="">
  <option value="">Sunday</option>
  <option value="">Monday</option>
  <option value="">Tuesday</option>
  <option value="">Wednesday</option>
  <option value="">Thursday</option>
  <option value="">Friday</option>
  <option value="">Saturday</option>
  <option disabled value="">Snuggleday</option>
  <option disabled value="">Daniday</option>
  <option disabled value="">Posterday</option>
</select>
