<a href="what is every single bad word?" controller></a>
<a href="http://"></a>
<iframe src="" frameborder="0"></iframe>

<h1>hot and cold</h1>
<!-- <button< button> </button<> -->
<h6>best game ever!</h6>
<h4>play your game! this game is free. the age rating is 4+ and enjoy app</h4>
<h2>turn on the checkmark that is your most favorite</h2>
<input type="checkbox" name="" id="" />
<input type="checkbox" name="" id="" />
<input type="checkbox" name="" id="" />
<input type="checkbox" name="" id="" />
<input type="checkbox" name="" id="" />
<h3>check number</h3>
<input type="text" />
<h3>if you want to go somewhere else amazing, go to this link</h3>
<a href="/code/james_learning2">different game</a>
which number ----
<button disabled="disabled">you haven't been good enough at school</button>
---
<h3>this game is for everyone! invite your friends to play with it</h3>
<h5>who do you want to play with?</h5>

<textarea
  name=""
  cols="8"
  id=""
  placeholder="write who you want to play with. we'd love to hear it, then press submit when you are done!"
></textarea>
<style>
  placeholer {
    font-family: Arial, Helvetica, sans-serif;
  }
  textarea {
    width: 100%;
    height: 100vh;
  }
  button {
    display: block;
    background-color: rgb(255 0 128);
    width: 50pt;
    height: 30pt;
  }
</style>
<button>Submit</button>
<h3>play games and have fun. you can play with anybody</h3>
<h2>write your name</h2>
<input placeholder="Name" type="text" />
<h5>the date helps if you know when you did this</h5>
<input type="date" name="" id="" />
<h3>write parent initals. remember, this is only for parents</h3>
<input placeholder="Parent Initals" type="text" />
<h3>
  kid initals are for kids to use. whoever is playing this game needs 3 initals.
  mine are MFO
</h3>
<input placeholder="Kid Initals" type="text" />
<h3>passwords are privacy stuff. write the password. mine is **********</h3>
<input placeholder="Password" type="text" />
<textarea
  placeholder="Write whatever you want. it can be anything"
  name=""
  id=""></textarea>
<h1>please put 11 buttons in the folder</h1>
<h1>1</h1>
<h2>2</h2>
<h3>3</h3>
<h4>4</h4>
<h5>5</h5>
<h6>6</h6>
<h6>play your numbers</h6>
<title>
  choose anything, and play it. the color of the backround is purple!
</title>
<h1><html xmlns="http://www.w3.org/1999/xhtml"></html></h1>
<object data="tags" type="files">who</object>
<h1>decorate your <section>best</section></h1>
<h6>made in los angeless, address = 5115</h6>
<h3>go around. tip over and press the SUPER BIG button below</h3>
<h1>time for this</h1>
