<h1>Clever</h1>
<h2>Please log in</h2>
<input placeholder="Email or Phone Number" type="email" name="" id="" />
<input placeholder="Password" type="password" name="" id="" />
<button id="submit">Next</button>
<script>
  document.querySelector('#submit')?.addEventListener('click', e => {
    alert('you logged in!')
  })
</script>
<h1>Normal time</h1>
<input type="time" name="" id="" />
<h1>Swahaz time</h1>
<input type="time" name="" id="" />
<h1>Hint:</h1>
<h4>try using the normal time to trigger the time on the clock</h4>
<h1>Files</h1>
<h2>
  Use your files to decorate something. there are 5 for you. you can choose as
  many as you like!
</h2>
<input type="file" name="" id="" />
<input type="file" name="" id="" />
<input type="file" name="" id="" />
<input type="file" name="" id="" />
<input type="file" name="" id="" />
<h3>Abve, the normal time is what triggers the big clock way below</h3>
<h6>look down here!!!</h6>
<h2>what do you think the swahaz time does? write anything</h2>
<textarea placeholder="what does it do?" name="" id=""></textarea>
<style>
  textarea {
    width: 100%;
    height: 100vh;
  }
</style>
<h1>Chances</h1>
<h6>use changes</h6>
<h1>schedule</h1>
<h3>8:05 wake up</h3>
<h3>8:30 school</h3>
<h3>8:55 worktime</h3>
<h3>9:55 fan party</h3>
<h3>11:25 raiways</h3>
<h3>12:25 lunch</h3>
<h3>12:55 home</h3>
