<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <h2>Invisible Zaiuse:</h2>
  <select name="" id="">
    <option value="">Off</option>
    <option value="">On</option>
    <option disabled value="">Sarjenka (name of game)</option>
  </select>
  <details>
    <summary>Banned channels</summary>
    <div>Durden's VO</div>
  </details>
  <h3>Dates</h3>
  <button>▲</button>
  <br />
  <button>▼</button>
  <h5>Try winning prizers</h5>
  <link rel="alternate" href="rss.xml" type="application/rss+xml" title="RSS" />
  <bdo dir="rtl">3 3 8 0 4 8</bdo>
  <br />
  <bdo dir="rtl">3 3 4 1 7 6</bdo>
  which number is bigger?
  <q>yet th</q>is is pretty unsafe
  <details>
    <summary>Fune Retails</summary>
    <h1>3 4 3 6 5 6</h1>
  </details>
  <details>
    <summary>X</summary>
    <div>
      <h1>F A L T</h1>
      <h4>Old name of game:</h4>
      <h6>shirts.astro</h6>
    </div>
  </details>
  open Z to find the name of the game

  <h3>Please eat corn chips</h3>

  <details>
    <summary>Z & Cropes</summary>
    <div>
      <h4>Sarjenka</h4>
      <input placeholder="Code" type="text" />
      <h4>Valt</h4>
      <progress></progress>
    </div>
  </details>
  <h1>Get in the attic to unlock</h1>
  <canvas></canvas>
  <canvas></canvas>
  <canvas></canvas>

  Aff Eff Iff Off Uff
  <h2>prizer winning</h2>
  30
  <br />
  <h4>60</h4>
  <br />
  <h1>90</h1>

</html>
