---
import Menu from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html {
        background-color: rgb(255 210 105);
      }
    </style>
  </head>
  <body>
    <Menu />
    <h2>touch enough things to unlock your whole room</h2>
    <h4>Please touch javascript</h4>
    <input placeholder="e.g 50" type="text" />
    <br />
    <input placeholder="e.g World" type="text" />
    <details>
      <summary>More</summary>
      <div>
        <h1>Soier</h1>
      </div>
    </details>
    your textarea runoff is in your summary. write excactly what it says.
    <h1>Input:</h1>
    <input type="tel" name="" id="" />
    <input type="checkbox" name="" id="" /> Carmen's pee
    <input type="file" name="" id="" />
    <button>Reject</button>
    <h5>What javascript should work for hamster?</h5>
    <h6>say it</h6>
    <h1>Your name:</h1>
    <input type="text" />
    <h1>My name:</h1>
    <input value="Soier" type="text" />
    <h3>Len</h3>
    <h1>E =</h1>
    <a href="tel:Cecily Kempton">Rockstars</a> are inportant. they help us see things
    clearly, so that you can tell anyone what to do. if your slider is too high,
    do see a professional if needed to put your slider higher
    <h1>our slider stays Low!</h1>
    <input value="81" type="range" name="" id="" /> it should NEV<a href="">E</a
    >R be this high
    <br />
    <input value="18" type="range" name="" id="" /> this is just right

    <h2>Let's practice</h2>
    <input value="18" type="range" name="" id="" />
    Blue textarea:
    <h2>what is wrong?</h2>
    <h4>what should we do?</h4>
    should we <mark>dance</mark> or make art?
    <details>
      <summary>CoDe</summary>
      <div>
        <h1>9 0 8 4 6 1</h1>
      </div>
    </details>
    <h2>Expression</h2>
    <h1>!</h1>
    <details>
      disabled
      <summary>Rock climbing</summary>
      <div>
        <h1>Wear a Harnis</h1>
      </div>
    </details>
    AQI
    <input type="search" name="" id="" />
    <select name="" id="">
      <option value="">Aprocher</option>
      <option value="">Javascript</option>
    </select>
    <h1>I</h1>
    <select name="" id="">
      <option value="">Norm</option>
      <option value="">Lila</option>
    </select>
    <h3>willbur</h3>
    <h4>TONK</h4>
    <h2>TANK</h2>
    <h1>1</h1>
    <h2>2</h2>
    <h3>3</h3>
    <details>
      <summary>Buttons in the folder</summary>
      <div>
        <h4>4</h4>
        <h5>5</h5>
        <h6>6</h6>
        <h2>buttons in the folder saves the world</h2>
        <h4>dapes help us</h4>
      </div>
    </details>
    <h1>help us</h1>
    <h3>can we save the world?</h3>
    <input placeholder="Code" value="" type="number" />
    <h1>You won a prizer!</h1>
    <style>
      textarea {
        background-color: rgb(128 128 255);
      }
    </style>
    <textarea name="" id="" rows="10"></textarea>
    <br />

    <br />
    <button>Big prizer</button>
    <h2>start:</h2>
    <input type="checkbox" name="" id="" /> Carmen's pee [unsticked]
    <div n="ready to dance?"></div>
    dancing helps <u>us</u>
    we go <ul>
      <li>Videos</li>
      <li>Links</li>
      <li>tastes good</li>
      <ol>Order up!</ol>
    </ul>
    <h3>What next?</h3>
    <h1>pick Lila</h1>
    <h3>A</h3>
    <h4>B</h4>
    <h5>C</h5>
    <h1>touch the vent ceiling to unlock this part:</h1>
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
    <h2>Forever together</h2>
    <input type="image" src="lights" alt="j" />
    <s>that must be it</s>
    <br />
    that must be it
    <br />
    <h1>Escape</h1>
    <h3>Please escape</h3>
    <h2>i wonder if this is the way</h2>
    <h4>check [carmen's pee]</h4>
    <select name="" id="">
      <option value="">Temperature</option>
      <option value="">60</option>
      <option value="">70</option>
      <option value="">90</option>
      <option value="">100</option>
      <option value="">120</option>
      <option value="">130</option>
      <option value="">140</option>
      <option value="">150</option>
      <option value="">160</option>
      <option value="">BURNING HOT</option>
    </select>
    <h1>App temperature</h1>
    <input min="40" value="70" max="90" type="number" name="" id="" />
    <h1><h1><h1></h1></h1></h1>
    <h2>hi</h2>
  </body>
</html>
