<h1>Game game</h1>
<h2>Which sro is this?</h2>
sro<input type="text" />
<h2>Win a prizer so Nick and Steffan can make more <b>june makers</b></h2>
you need <b>june makers</b> to have Nick and Steffan
<h6>Time Time</h6>
<h3>This prizer should last</h3>
<h3>Didda! that's right!</h3>
<details>
  <summary>More</summary>
  <div>
    Didda, that's right is very simple. it is when james remembers about
    something he did on that thing
  </div>
</details>
<h1>Flames</h1>
<h1>What happens with a gas valve?</h1>
