---
import Menu3 from '@/components/Menu3/Menu3.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <Menu3 />
    <textarea placeholder="i think this app is " name="" id=""></textarea>
    <h3>what do you think this app is? write a prediction</h3>
    <h1>Textareas</h1>
    <h3>these are what the fun does</h3>
    <textarea name="" id=""></textarea>
    <textarea name="" id="" cols="30"></textarea>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <textarea name="" id="" rows="10"></textarea>
    <h2>please tell us the date and time</h2>
    <input type="datetime-local" name="" id="" />
    <h3>script tags</h3>
    <h5>
      trigger this button please. you have 3 of them. one of these is disabled
    </h5>

    <details>
      <summary>settings 1</summary>
      lots of information about the setting
      <div>
        <input type="checkbox" name="" id="" /> hello
      </div>
    </details>

    <button id="press">press me</button>
    <script>
      document.querySelector('#press').addEventListener('click', e => {
        alert('YOU PRESSED ME?????!!!!!')
      })
    </script>
    <s>nobody</s> everybody
    <h1>Creator</h1>
    <h3>use styles to decorate and choose settings</h3>
    <button>settings</button>
    <style>
      button {
        width: 13%;
        height: 9vhvh;
        border-radius: 10%;
        background-color: green;
        border: 0%;
      }
    </style>
    <details>
      <summary>inputs</summary>
      <h1>Inputs</h1>
      <input type="text" />
      <input type="button" value="" />
      <input type="checkbox" name="" id="" />
      <input type="color" name="" id="" />
      <input type="date" name="" id="" />
      <input type="datetime" name="" id="" />
      <input type="datetime-local" name="" id="" />
      <input type="email" name="" id="" />
      <input type="file" name="" id="" />
      <input type="hidden" name="" />
      <input type="image" src="" alt="" />
      <input type="month" name="" id="" />
      <input type="number" name="" id="" />
      <input type="password" name="" id="" />
      <input type="radio" name="" id="" />
      <input type="range" name="" id="" />
      <input type="reset" value="" />
      <input type="search" name="" id="" />
      <input type="submit" value="" />
      <input type="tel" name="" id="" />
      <input type="text" name="" id="" />
      <input type="time" name="" id="" />
      <input type="url" name="" id="" />
      <input type="week" name="" id="" />
    </details>
    <select name="" id=""> </select>
    <a href="tel:+">monitors</a>
    <h1>Textarea</h1>
    <input type="button" value="go outside" />
  </body>
</html>
