<details>
  <summary>Code for this app:</summary>
  <div>
    <h1>2 0 2 6 0 3</h1>
    <select name="" id="">
      <option value="">5</option>
      <option value="">4</option>
      <option value="">3</option>
      <option value="">2</option>
      <option value="">1</option>
      <option value="">0</option>
      <option value="">-1</option>
      <option disabled value="">-2</option>
      <option disabled value="">-3</option>
      <option disabled selected value="">-4</option>
      <option disabled value="">-5</option>
      <option disabled value="">-6</option>
      <option disabled value="">-7</option>
      <option disabled value="">-8</option>
    </select>
    <input type="time" name="" id="" />
    <h2>infrence</h2>
  </div>
</details>
Use infrence
<h2>Gas pop</h2>
<input value="" type="checkbox" name="" id="" />
<h3>Z</h3>
<h1>time game</h1>
<input disabled value="58" type="range" name="" id="" /> Bands
<br />
<input disabled value="81" type="range" name="" id="" /> Loud car
<br />
<input value="9" type="range" name="" id="" /> Quiet car
<br />
<input disabled value="53" type="range" name="" id="" /> Guitar
<br />
<input value="40" type="range" name="" id="" /> Tolls
<br />
<input disabled value="59" type="range" name="" id="" /> br
<details>
  <summary>Vent ceiling conjuncton</summary>
  <div>
    <h1>Touch the vent ceiling to unlock this part:</h1>
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
  </div>
</details>
<h2>Slider</h2>
<h2>don't put quiet car to 100%</h2>
<details>
  <summary>Fan</summary>
  <div>
    <input type="checkbox" name="" id="" /> Fan circle
    <br />
    <input type="checkbox" name="" id="" /> Fan line
    <br />
    <input type="checkbox" name="" id="" /> Fan carmen
    <br />
    <input type="checkbox" name="" id="" /> Fan blade
    <br />
    <input type="checkbox" name="" id="" /> Fan white
    <br />
    <input type="checkbox" name="" id="" /> Fan Ball
  </div>
</details>
<details>
  <summary>Ceilings</summary>
  <div>
    <input type="checkbox" name="" id="" /> Bear Ceiling
    <br />
    <input type="checkbox" name="" id="" /> Corner
    <br />
    <input type="checkbox" name="" id="" /> Vent Corner
    <br />
    <input type="checkbox" name="" id="" /> Vent Ceiling
    <br />
    <select name="" id="">
      <option value="">Fished</option>
      <option value="">4+</option>
      <option value="">9+</option>
      <option value="">13+</option>
      <option value="">16+</option>
      <option value="">18+</option>
      <option selected value="">Any</option>
      <br />
      <input type="checkbox" name="" id="" /> Higher vent Ceiling (Corner)
      <br />
      <input type="checkbox" name="" id="" /> Half Slope Ceiling
      <br />
      <input type="checkbox" name="" id="" /> Very Tippy top of house
    </select>
  </div>
</details>
<details>
  <summary>MASTER CHECKBOX</summary>
  <div>
    <input type="checkbox" name="" id="" />
  </div>
</details>
<details>
  <summary>Slightly Off limits</summary>
  <input type="checkbox" name="" id="" /> Mr. Phillips's forehead
  <br />
  <input type="checkbox" name="" id="" /> Allow game
  <br />
  <input type="checkbox" name="" id="" /> Stackparts
</details>
