<h2>Think it</h2>
<h4>Try prizing prizers</h4>
<button>Memories</button>
<details>
  <summary>Fune Retails</summary>
  <div>
    <input type="checkbox" name="" id="" /> Crawlspace 🆘
    <br />
    <input type="checkbox" name="" id="" /> Downstairs
    <br />
    <input type="checkbox" name="" id="" /> Downstairs Attic
    <br />
    <input type="checkbox" name="" id="" /> Upstairs
    <br />
    <input type="checkbox" name="" id="" /> Main Attic
    <br />
    <input type="checkbox" name="" id="" /> Roof
    <h1>highest</h1>
    <input type="checkbox" name="" id="" /> Chimny
  </div>
</details>
<h2>Fune Retails</h2>
<h5>using code Technoligies</h5>
<meter value="2"></meter>
<h6>Meeter</h6>
<q>brain glitch</q> is something as well as a <q>brain fart</q> and also a turns
out
<output>64</output>
<h2>Inside Attic</h2>
<details>
  <summary>X</summary>
  <div>
    <h3>Name:</h3>
    <h6>YouTube</h6>
  </div>
</details>
<details>
  <summary>Z</summary>
  <div>
    Up
    <br />
    Down
    <br />
    Down
    <br />
    Up
  </div>
</details>
<bdo dir="rtl">youtubE</bdo>
<h2>Touch the Wierd triangle to unlock this space:</h2>
<canvas></canvas>
<details>
  <summary>Q</summary>
  <div>
    <details>
      <summary>X</summary>
      <div>
        <details>
          <summary>Z</summary>
          <div>🔑</div>
        </details>
      </div>
    </details>
  </div>
</details>
<button type="reset"></button>
<input minlength="1" type="number" name="" id="" />
yammyayummy
