main {
  padding: 2rem;
}
#filters {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
#filters * {
  flex: 1;
  width: fit-content;
}

#filters input[name='name_filter'] {
  flex: auto;
}

#filters input[name='limit'] {
  max-width: 120px;
  text-align: right;
}

#girls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}


header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

#girls button {
  padding: 0.1rem 0.3rem;
  margin: 0 0 0 1rem;
}

#girls article {
  display: flex;
  width: 100%;
  max-width: 200px;
  text-transform: capitalize;
  justify-content:space-between;
  align-items: center;
  font-weight: bold;
}

#girls article b {
  font-weight: normal;
  display: inline-block;
  margin-right:1rem;
}

@media screen {
  #girls article b {
    display: none;
  }
}

@media print {
  #girls article {
    background: white;
    box-shadow: none;
  justify-content:flex-start;
  }
#girls button,
input,
  header {
    display: none !important;
  }
}
