---
---

<header>
    <dialog id="links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/star">Star</a></li>
            <li><a href="/calculator">Calculator</a></li>
            <li><a href="/kidthing">Kids</a></li>
			<li>
				<a href="/brownthing">Brown Thing</a>
				<span>&nbsp;&nbsp;</span>
				<a href="/brownthing?countby=2">2</a>
				<span>&nbsp;&nbsp;</span>
				<a href="/brownthing?countby=3">3</a>
				<span>&nbsp;&nbsp;</span>
				<a href="/brownthing?countby=5">5</a>
				<span>&nbsp;&nbsp;</span>
				<a href="/brownthing?countby=10">10</a>
			</li>
            <li><a href="/voicemaker">Voice Maker</a></li>
			<li>
				<a href="/music2">Music</a>
				<span>&nbsp;&&nbsp;</span>
				<a href="/recorder">Recorder</a>
				<span>&nbsp;&&nbsp;</span>
				<a href="/nightnight">night night</a>
			</li>

          <li>
            <a href="/colorthing">Color Thing</a>
            <span>&nbsp;&&nbsp;</span>
            <a href="/colorfinder">Finder</a>
		  </li>
          <li><a href="/bignumbers">Big Numbers</a></li>
          <li><a href="/speedup">Speed Up</a></li>
          <li>
            <a href="/timer4">Timer</a>
            <span>&nbsp;&&nbsp;</span>
            <a href="/spin">Spin</a>
            <span>&nbsp;&&nbsp;</span>
            <a href="https://number-ry8ams9hd2p0.deno.dev/timer3">Old Timer</a>
		  </li>
          <li><a href="/lasko">Lasko</a></li>
          <li><a href="/ampm">AM PM</a></li>
		  <li><a href="https://smooth.talkrapp.com/#/">Talker</a></li>
        </ul>
    </dialog>
    <button id="hamburgermenu">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>

<style is:global>

	#links ul {
		font-size:1.5rem;
	}

	#links {
		right: 0;
		top: 50px;
		margin: 50px;
		left: auto;
		background-color: transparent;
	}

	#links::backdrop {
		/* background-color:rgba(255,255,255,0.5); */
		background-color:#fed469a4;
		backdrop-filter: blur(6px);
		-webkit-backdrop-filter: blur(6px);
	}
	#hamburgermenu {
		position:absolute;
		right:13px;
		top:13px;
		width: 60px;
		height: 45px;
		/* position: relative; */
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;
		border: none;
	}

	#hamburgermenu span {
		display: block;
		position: absolute;
		height: 9px;
		width: 100%;
		background: black;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}

	/* Icon 4 */

	#hamburgermenu span:nth-child(1) {
		top: 0px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}

	#hamburgermenu span:nth-child(2) {
		top: 18px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}

	#hamburgermenu span:nth-child(3) {
		top: 36px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}

	#hamburgermenu.open span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: -3px;
		left: 8px;
	}

	#hamburgermenu.open span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}

	#hamburgermenu.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 39px;
		left: 8px;
	}
</style>

<script>
	const e_empty = document.createElement("div");
	const e_hamburgermenu = document.getElementById("hamburgermenu") || e_empty;
	const e_dialog = document.getElementById("links") || e_empty;

	e_hamburgermenu.addEventListener("click", () => {
		e_hamburgermenu.classList.toggle("open");
		e_dialog?.showModal?.();
	});

	e_dialog.addEventListener("click", () => {
		e_hamburgermenu.classList.toggle("open");
		e_dialog?.close?.();
	});

	// e_hamburgermenu.click()

</script>
