---
import WCFloatingLabel from '../WCFloatingLabel.astro'
import WCFieldsetInputs from '../WCFieldsetInputs.astro'
---

<wc-dictionary-search>
  <form>
    <fieldset>
      <legend>Find words</legend>
        <WCFloatingLabel
          label="search for word by letters"
          addclear="1"
          adderror={'1'}
        >
          <input type="text" name="word" placeholder="look for the name" />
        </WCFloatingLabel>
        <WCFieldsetInputs legend='search settings'>
          <input type="checkbox" name="search_settings" value="start_of_word" data-label="start of word" checked>
          <input type="checkbox" name="search_settings" value="match_whole_word" data-label="match whole word">
        </WCFieldsetInputs>
      <WCFloatingLabel label="search by number of letters" adderror={'1'}>
        <input type="number" name="number_of_letters" />
      </WCFloatingLabel>
      <div class="action">
        <button type="submit">Search</button>
      </div>
    </fieldset>
  </form>

  <script src="./wc-dictionary-search"></script>

  <style is:inline>
    form > fieldset {
      background-color: white;
      border: 1px solid #e5e7eb;
      padding: 14px;
    }

    form input[type='number'] {
      padding: 0.6rem;
    }

    .action {
      padding-block: 1rem;
    }

    .action button {
      padding: 1rem;
    }

    .action button:disabled {
      opacity: 0.2;
    }
  </style></wc-dictionary-search
>
