#learntocode {
  margin-top: 100px;
  max-width: 1200px;
  margin: auto;
}

#items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-block: 100px;
}
div.item {
  font-size: 24px;
  font-weight: 600;
  border: 1px solid black;
  padding: 10px;
}

button {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
  border-radius: 7px;
  padding: 8px;
}

#learntocode dialog fieldset {
  width: 100%;
}

#learntocode dialog {
  width: 100%;
  max-width: 600px;
  border-radius: 7px;
}

#learntocode dialog textarea {
  min-height: 9rem;
}

/* dialog[is='wc-dialog'] {
  width: 100%;
  max-width: 600px;
  border-radius: 7px;
} */
