:root {
  --chakra-colors-red-500: #f56565;
}
fieldset:has(wc-floating-label-input) {
  background-color: white;
}

wc-floating-label-input {
  --height: 2.5rem;
  display: block;
  position: relative;
  min-height: var(--height);
  background-color: transparent;
  border-radius: 0.2rem;
  margin-block: 1.2rem;
}

wc-floating-label-input input {
  background-color: white;
}

/* has input with content */
wc-floating-label-input:has(input:not(:placeholder-shown)) .clear,
wc-floating-label-input:has(textarea:not(:placeholder-shown)) .clear {
  display: block;
}

wc-floating-label-input .clear {
  display: none;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  opacity: 0.5;
  /* color: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  transition: color 0.1s;
  font-size: 1rem;
  line-height: 1.5rem;
}

wc-floating-label-input textarea::placeholder,
wc-floating-label-input input::placeholder {
  opacity: 0;
}

wc-floating-label-input label,
wc-floating-label-input input {
  display: block;
  border: 0;
  box-shadow: none;
}

wc-floating-label-input input,
wc-floating-label-input select,
wc-floating-label-input textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

wc-floating-label-input input {
  display: block;
  box-shadow: none;
}

wc-floating-label-input select {
  height: calc(var(--height) + 1rem);
  width: 100%;
  padding-inline: 0.6rem;
  padding-block: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

wc-floating-label-input textarea,
wc-floating-label-input input[type='email'],
wc-floating-label-input input[type='text'] {
  height: var(--height);
  width: 100%;
  padding-inline: 0.6rem;
  padding-block: 1.3rem;
}

wc-floating-label-input textarea {
  height: auto;
  padding-block: .8rem;
}

wc-floating-label-input:has(select) label,
wc-floating-label-input:has(textarea) label,
wc-floating-label-input:has(input[type='email']) label,
wc-floating-label-input:has(input[type='text']) label {
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  background-color: white;
  transition: top 0.1s;
  padding-inline: 0.2rem;
  user-select: none;
}

wc-floating-label-input:has(select) label {
  top: -0.7rem;
}

wc-floating-label-input:has(textarea:not(:placeholder-shown)) label,
wc-floating-label-input:has(input[type='email']:not(:placeholder-shown)) label,
wc-floating-label-input:has(input[type='text']:not(:placeholder-shown)) label,
wc-floating-label-input:has(textarea:focus) label,
wc-floating-label-input:has(input[type='email']:focus) label,
wc-floating-label-input:has(input[type='text']:focus) label {
  top: -0.7rem;
  left: 0.4rem;
}

/* These groupings can expand as we go */
wc-floating-label-input .error {
  display: none;
  color: var(--chakra-colors-red-500);
  font-weight: bold;
}

/* These groupings can expand as we go */
wc-floating-label-input:has(textarea[aria-invalid='true']) .error,
wc-floating-label-input:has(input[aria-invalid='true']) .error {
  display: block;
}
