<h4>wht is this gme?</h4>
<h3>use your imagination</h3>
<h4>first, what things are there?</h4>
<canvas></canvas>
<canvas></canvas>
<canvas></canvas>
<canvas></canvas>
<h3>notes:</h3>
<textarea name="" id="" cols="30" rows="10"></textarea>
<button>press here</button>
<select name="" id="">
  <option value="">players</option>
  <option value="">mogers</option>
</select>
<h2>they picked "mogers"</h2>
<h4>copy what they picked</h4>
<h6>will you just find textareas?</h6>
<h1>Textareas =</h1>
<textarea name="" id="" cols="30"></textarea>
<textarea name="" id="" cols="30" rows="10"></textarea>
<textarea name="" id="" rows="10"></textarea>
<textarea name="" id=""></textarea>
<h3>so we will talk about "subjects"</h3>
<h2>what are subjects?</h2>
<input type="text" />
<h3>we will add a bit of more</h3>
<h1>hot and cold</h1>
<textarea
  placeholder="Write whatever you want. it can be anything"
  name=""
  id=""
  cols="30"
  rows="10"></textarea>
<h1>write in this textarea</h1>
<textarea name="" id="man" cols="30" rows="10"></textarea>
you <i>need</i> to write something in <i>this</i> textarea
<h2>you want 5 more fun textareas?!</h2>
<details>
  <summary>5 fun textareas</summary>
  <div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
</details>
you want- <h1>EVEN MORE?????!!!!!</h1>
<input type="radio" name="valuer" id="" />
<input type="radio" name="valuer" id="" />
<h6>files</h6>
<input type="file" name="" id="" />
