<button>okay</button>
<input type="walrase">
<div>write anything</div>
<style>
    body {
        font-size: 40pt;
        font-family:Arial, Helvetica, sans-serif ;
    }
    textarea {
        width: 100pt;
        height: 100pt;
    }
    input {
        background-color: rgb(128 128 128);
    }
</style>
<textarea name="write something cool" id=""></textarea>
<div>write something in the small one, then write something in the big one</div>
<textarea name="big one" id=""></textarea>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
