<legend>pick your name
<option value="files"></option>
<option value="use"></option>
<button>use tools
</button>
<click>alert</click>
<alert>text contains flagged language, please stop doing this!
value 5
<button>hit return</button>
<base href="drag files into the space">
<div>*</div>

if you want to erase, please make sure
<style>


html {
    background-color: rgb(0 0 0); 
    font-family: wingdings;
    color: rgb(255 255 255);
}
textarea {
    background-color: rgb(255 255 255);
    color: rgb(51 51 51);
}

</style>
<textarea name="" id=""></textarea>
<html xmlns="http://www.w3.org/1999/xhtml"></html>
<script>

</script>
<button type="button">ffffff</button>
<style>b</style>
::::::::::button<>
style ()
<html xmlns="http://www.w3.org/1999/xhtml"></html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<body><><><><>L</body>
()()()()()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
XXXXX
<html>body scriptvaz</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
\/\/\/\/\\
<div button<>=""></div>
button = <div>tet</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>