---
import Layout from '@/layouts/Layout.astro'
---

<Layout />
<h3>adjust</h3>
<input type="number" name="" id="" />
<h2>make up your own thing!</h2>
<h3>Write whatever you want to tell us what you need!</h3>
<textarea name="" id="" rows="10"></textarea>
<h1>Make up a name of this character</h1>
<h4>Write a fun and friendly name</h4>
<input value="Player" type="text" />
<h2>Choose a number</h2>
from <input type="number" max="20" min="1" name="" id="" /> to <input
  max="20"
  min="1"
  type="number"
  name=""
  id=""
/>
<h3>Temprature</h3>
<input min="-15" max="105" type="number" name="" id="" />˚
