---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body> </body>
</html>
<h3>hi there! adjust the slider</h3>
<h4>the slider is the degreement of the shedula</h4>
<input value="1" max="10" type="range" name="" id="" />
<html xmlns="http://www.w3.org/1999/xhtml"></html>
<h5>so, write an input</h5>
<input placeholder="What's the value?" type="text" name="" id="" />
what is 2+2?
<input type="text" />
<button>Check your answer</button>
<button type="reset">Apply</button>
<input type="month" name="" id="" />
<input type="button" value="" />
so this boy went around to go see good win. i went and saw her. so, she had long
hair and a sparkly pink dress. her name is Mila. and Joe is trying to plan somewhere
to code and he needs to work. he needs to fill up his brain with co-workers and they
decided to make it up. they want him to work far. so, Joe needs to go to work on
Monday. It is Friday today and he is done with work. now he had to work hard. he
also signed a treaty with anyone! after that. he signed a stupid treaty, who is being
so sassy??? i am the one, who joe is to be thankful in . it self. but just a stupid
period??? no!!!!! a period is 1 small thing that looks horrible! if it is just a
period then that means "." only. UHHH!!! i am screwed forever! i am pooped and screwed!
<big>AAAAAAAAAH!!!!!!!!!!</big>, STUPID, SCREWS. and i wanted to make it `right
but oh <h1>GOD!!!!!</h1> he was too shocked to even regonize, and Mila and Joe both
had a heavy fight and they both beat each other. they are both crying now! <big
  >IT WAS MY FAULT!!!!!</big
> said both at the same time. <big>I CRIED BECAUSE YOU BEAT ME UP!!!!!</big>. so
Mila and Joe are both angry at each other. they both said: <small
  >sorry for that</small
> and they are done with it forever
<h1>Answer the story</h1>
<h3>what do you think Joe did with work?</h3>
<button>he worked with co-workers</button>
<button>he was coding crazily</button>
<button>work made Joe mad</button>!
<h3>when will Joe work again?</h3>
<button>Monday</button>
<button>Wednesday</button>
<button>Sunday</button>
<h3>Why do you think Joe and Mila got mad?</h3>
<input type="text" />
<h3>What would you say if You both had heavy fights?</h3>
<textarea name="" id="" cols="100" rows="100"></textarea>
Joe, it is okay that it is just a period. but Joe never thought it happened. so,
Joe stole Mila's air conditioner and Joe is not happy anymore. he is going to draw
on her air conditioner because she wants him to. he made it really smooth. HEY, YOU
ARE BEING HORRIBLE TO MINE! and that was Joe faulting. <small
  >why did you do that?</small
> so she started to cry and when Joe came up to dad he wanted to talk to him about
his sister. so, he was first at work so he wanted to code with co-workers. <small
  >uh-huh</small
>. then i started to just see text be a period and i got up to a <big
  >MAXIMUM</big
> with Mila. i got so mad. did you hear me? dad said"<big>no</big>" but he did
see a red hue come by. he thought there was a fire. |. what did he just hear?
dad went and found out. so i just wante-| <big>WHAT IS THAT???</big>. it sounds
like. <h1>ARE YOU KIDDING?</h1> it is a flood of salt water. so, it was Mila crying
so much that there was a flood warning in his backyard. oh NO!!! NOW I HAVE TO DRAIN
ALL THIS WATER OUT! oh brother!
