---
import Layout from '../layouts/Layout.astro';
import '../core/brownthing/style.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<div id="wrap">
			<textarea id="readout"></textarea>
			<div id="letters" class="letters show-numbers"></div>
		</div>
	</main>
</Layout>

<script src="../core/brownthing"></script>

<style is:global>
	#links::backdrop {
		background-color:rgba(255, 255, 255, 0.645)!important;
	} 
</style>