---
import Menu3 from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Fantasy City Temperature Game</title>
	</head>
	<body>
        <Menu3 />
		<script src="../core/temperature-game/TemperatureGame.js"></script>
		<temperature-game></temperature-game>
	</body>
</html>
