---
import Layout from '../layouts/Layout.astro'
import WCDictionarySearch from '../components/Dictionary/WCDictionarySearch.astro'
---

<Layout title="dictionary">
  <div id="dictionary">
    <WCDictionarySearch />
  </div>
</Layout>

<style is:inline>
  #dictionary {
    max-width: 890px;
    margin-inline: auto;
    padding: 2rem;
  }

  @media (max-width: 720px) {
    #dictionary {
      padding: 1rem;
    }
  }
</style>
