---
import Empty from '../layouts/Empty.astro'
import Layout from '../layouts/Layout.astro'
import '../core/girls/girls.css'
import '../../pico.css'
---

<Empty title="girls">
  <main>
    <header>
      <h1>Girl names</h1>
      <a href="/">Back to site</a>
    </header>
    <div id="filters" class="group">
      <input type="search" name="name_filter" placeholder="Filter names" />
      <input type="number" value="100" name="limit" />
    </div>
    <div id="girls"></div>
  </main>
</Empty>
<script src="../core/girls/index.ts"></script>
