---
import Empty from '../layouts/Empty.astro'
import '../../pico.css'
---

<Empty title="Grok">
  <form>
    <header>
      <h5>Ask Grok</h5>
      <textarea placeholder="James, enter your question here" autofocus="true" name="prompt"></textarea>
      <div class="action">
        <label>
          <input type="checkbox" checked /> Read results
        </label>
        <div>
          <button type="reset">clear</button>
          <button type="submit">Ask me</button>
        </div>
      </div>
    </header>
    <footer id="results"></footer>
  </form>
</Empty>

<script src="../core/grok/index.ts"></script>

<style>
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .action > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px
  }
  .action > div > button {
    margin-bottom: 0;
  }
  form {
    max-width: 800px;
    margin:2rem auto;
  }
  footer {
    margin-top:1rem;
  }
</style>