---
import Empty from '../layouts/Empty.astro'
import '../../pico.css'
---

<Empty title="Grok">
  <form>
    <header>
      <div class="across">
        <h5>Ask Hamlet</h5>
        <a href="/">back to site</a>
      </div>
      <textarea placeholder="James, enter your question here" autofocus="true" name="prompt"></textarea>
      <div class="action">
        <label>
          <input type="checkbox" name="read" checked /> Read results
        </label>
        <div>
          <button type="reset">clear</button>
          <button type="submit">Ask me</button>
        </div>
      </div>
    </header>
    <footer id="results"></footer>
  </form>
</Empty>

<script src="../core/grok/index.ts"></script>

<style>
  .across {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .5rem;
  }
  .across > * {
    margin-bottom: 0;
  }
  form:has(footer:is(:empty)) {
    margin:0 auto;
    margin-top:12rem;
  }
  form {
    transition: margin-top 1s;
    margin:0 auto;
    margin-top: 2rem;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .action > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px
  }
  .action > div > button {
    margin-bottom: 0;
  }
  form {
    max-width: 800px;
  }
  footer {
    margin-top:1rem;
  }
</style>