---
import Empty from '../layouts/Empty.astro'
import Menu3 from '@/components/menu.astro'
import '../../pico.css'
---

<Empty title="Grok">
  <form>
    <header>
      <section class="response">
        Lets start an exam, to see how many questions we can get right.
      </section>
      <textarea
        class="hidden"
        placeholder="enter your answer here"
        autofocus="true"
        name="prompt"></textarea>
      <div class="action">
        <label class="hidden">
          <input type="checkbox" name="read" checked value="checked" /> Read results
        </label>
        <div>
          <lottie-player
            src="https://assets10.lottiefiles.com/packages/lf20_lv7pxahw.json"
            background="transparent"
            speed=".2"
            style="width: 200px; height: 200px;"
            loop
            autoplay
          >
          </lottie-player>

          <button type="submit">start</button>
        </div>
      </div>
    </header>
  </form>

  <Menu3 />
</Empty>

<script src="../core/exam/index.ts"></script>

<script
  is:inline
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>

<style>
  html,
  body {
    background-color: white;
  }

  @media only screen and (prefers-color-scheme: dark) {
    html,
    body {
      background-color: black;
    }
  }

  form:has(footer:is(:empty)) {
    margin: 0 auto;
    margin-top: 12rem;
  }
  form {
    transition: margin-top 1s;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .action > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .action > div > button {
    margin-bottom: 0;
  }
  form {
    max-width: 840px;
  }
  header {
    padding: 1rem;
  }
  footer {
    margin-top: 1rem;
    padding: 1rem 0;
  }
  .across {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
  }
  .across > * {
    margin-bottom: 0;
  }

  .hidden {
    visibility: hidden;
  }
</style>
