---
import Layout from '../layouts/Layout.astro';
import NumberGame from '../core/numbergame'
---

<Layout title="Welcome to Astro.">
	<main>
		<NumberGame client:load />
	</main>
</Layout>

<script is:inline src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js">
</script>