---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
      <div id="base"></div>
	</main>
</Layout>

<link rel="stylesheet" href="/lasko/style.css">

<script is:inline src="/lasko/app.js" type="module"></script>