---
import WCFloatingLabel from '../components/WCFloatingLabel.astro'
import WCDialogWrap from '../components/WCDialogWrap.astro'
import Layout from '../layouts/Layout.astro'
import '../core/learncode/learncode.css'
---

<Layout title="learn to code">
  <div id="learntocode">
    <h1>Learn to Code</h1>
    <div id="items"></div>
    <fieldset>
      <legend>numbers</legend>
      <ol id="numbers"></ol>
    </fieldset>
    <fieldset>
      <legend>Edit</legend>
      <button id="show">Words</button>
      <button id="btn_alerts">Alerts</button>
      <button id="btn_colors">Colors</button>
      <button id="btn_numbers">Numbers</button>
    </fieldset>
    <WCDialogWrap id="input_words">
      <form>
        <fieldset class="unset">
          <legend>Make a list, use 1 comma, and 1 space</legend>
          <WCFloatingLabel addclear="1" adderror={'1'}>
            <textarea placeholder="word, word, word, word" name="james_code"
            ></textarea>
          </WCFloatingLabel>
        </fieldset>
      </form>
      <form>
        <button formmethod="dialog">done</button>
      </form>
    </WCDialogWrap>
    <WCDialogWrap id="alerts">
      <form>
        <fieldset class="unset">
          <legend>Make a list, use 1 comma, and 1 space</legend>
          <WCFloatingLabel addclear="1" adderror={'1'}>
            <textarea placeholder="word, word, word, word" name="alert_texts"
            ></textarea>
          </WCFloatingLabel>
        </fieldset>
      </form>
      <form>
        <button formmethod="dialog">done</button>
      </form>
    </WCDialogWrap>
    <WCDialogWrap id="colors">
      <form>
        <fieldset class="unset">
          <legend>Add your colors</legend>
          <div id="color_list"></div>
        </fieldset>
      </form>
      <form>
        <button formmethod="dialog">done</button>
      </form>
    </WCDialogWrap>
  </div>
</Layout>

<script src="../core/learncode/learnCode"></script>

<style>
  fieldset.unset {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
  }

  #numbers {
    columns: 4;
    column-gap: 10px;
  }

  fieldset:has(#numbers:empty) {
    display: none;
  }

  fieldset:has(#numbers) {
    width: 90%;
  }

  #numbers li {
    white-space: nowrap;
  }

</style>
