---
import Layout from '../layouts/Layout.astro'
---

<Layout title="ampm">
  <h1 contenteditable>Learn to Code</h1>
  <button id="show">Show Dialog</button>
  <dialog is="wc-dialog">
    <h1>hello</h1>
    <div>
      atrayu moonchild is a web developer and designer based in the bay area.
    </div>
    <form method="dialog">
      <input type="text" name="fardo" />
      <input type="text" name="lopo" />
      <button>✕</button>
    </form>
  </dialog>
</Layout>

<script>
  import '../components/wc-dialog'

  const e_dialog = document.querySelector('dialog')
  const e_button = document.querySelector('button#show')
  const e_custom = document.querySelector('button#custom1')

  if (e_dialog && e_button) {
    e_button.addEventListener('click', e_dialog.showModal)
  }

  e_custom?.addEventListener('click', () => {
    e_dialog?.close()
  })
</script>
