---
import Layout from '../layouts/Layout.astro'
---

<Layout title="ampm">
  <div class="long-content" id="smart-anchors">
    <main>
      <section id="section_1">

        <p>Lorem ipsum dolor sit amet. Ut quia molestiae sed voluptas nesciunt id repellendus quas eos quod harum sed architecto commodi. Ea omnis consequatur aut praesentium aspernatur ab eaque odit. </p><p>Ut reprehenderit officia non minima libero ut pariatur ratione aut architecto nesciunt et voluptate ipsum ut aspernatur ducimus. Vel reprehenderit numquam sit perspiciatis illum hic vitae consequatur ea iste officia. </p><p>Et veritatis laboriosam id quae quisquam vel sint omnis et perspiciatis rerum hic nisi laborum. Id pariatur aspernatur et voluptate blanditiis sit blanditiis asperiores sit rerum eaque eum delectus dolor quo unde consequatur eum dolorem asperiores. Nam placeat illum 33 voluptatibus fugit sit voluptatem odit ut libero voluptate. </p><p>Ut quia doloribus et consequatur delectus qui totam dolor aut ratione eius in consequatur voluptas et voluptas sint est corrupti consectetur. Eum eius fugiat est consequuntur eius et amet consectetur aut consequatur ipsa. Et voluptatibus voluptatem cum quia velit sit ipsam saepe eum rerum nesciunt non itaque obcaecati. </p><p>Aut assumenda libero et dolorem repellat in quam necessitatibus. A itaque aliquid qui ratione voluptas quo aliquid iste id provident harum. Eos commodi harum ab recusandae perferendis sed maiores iusto eum quod iste. </p><p>Ex repellendus quisquam non enim omnis eum aperiam eveniet qui quod quas qui similique voluptatum et veritatis praesentium id dolores atque! Hic quia maiores est dolorum laborum et repellat commodi et veritatis provident qui sunt dolor et Quis repellendus. Ut fugiat autem qui vero dolores ut temporibus itaque in similique laborum sed galisum veritatis id nihil ipsa eos sint sequi. </p>

        <p>Lorem ipsum dolor sit amet. Ut quia molestiae sed voluptas nesciunt id repellendus quas eos quod harum sed architecto commodi. Ea omnis consequatur aut praesentium aspernatur ab eaque odit. </p><p>Ut reprehenderit officia non minima libero ut pariatur ratione aut architecto nesciunt et voluptate ipsum ut aspernatur ducimus. Vel reprehenderit numquam sit perspiciatis illum hic vitae consequatur ea iste officia. </p><p>Et veritatis laboriosam id quae quisquam vel sint omnis et perspiciatis rerum hic nisi laborum. Id pariatur aspernatur et voluptate blanditiis sit blanditiis asperiores sit rerum eaque eum delectus dolor quo unde consequatur eum dolorem asperiores. Nam placeat illum 33 voluptatibus fugit sit voluptatem odit ut libero voluptate. </p><p>Ut quia doloribus et consequatur delectus qui totam dolor aut ratione eius in consequatur voluptas et voluptas sint est corrupti consectetur. Eum eius fugiat est consequuntur eius et amet consectetur aut consequatur ipsa. Et voluptatibus voluptatem cum quia velit sit ipsam saepe eum rerum nesciunt non itaque obcaecati. </p><p>Aut assumenda libero et dolorem repellat in quam necessitatibus. A itaque aliquid qui ratione voluptas quo aliquid iste id provident harum. Eos commodi harum ab recusandae perferendis sed maiores iusto eum quod iste. </p><p>Ex repellendus quisquam non enim omnis eum aperiam eveniet qui quod quas qui similique voluptatum et veritatis praesentium id dolores atque! Hic quia maiores est dolorum laborum et repellat commodi et veritatis provident qui sunt dolor et Quis repellendus. Ut fugiat autem qui vero dolores ut temporibus itaque in similique laborum sed galisum veritatis id nihil ipsa eos sint sequi. </p>


        <p>
          Lorem ipsum dolor sit amet. Et Quis tempore hic quia consequaturUt
          sequi et dolores alias. Ad ipsam iste ea voluptas velitet officia qui
          alias saepe. Eum voluptas voluptatibus <a
            href="https://www.loremipzum.com"
            target="_blank">Sit voluptates</a
          > quo praesentium quia aut itaque repellendus. Aut consequuntur nullaVel
          voluptatem aut autem officiis et quae eaque qui dolorem voluptate non explicabo
          quod id galisum excepturi.
        </p><p>
          At molestiae rerum est quia molestiae <a
            href="https://www.loremipzum.com"
            target="_blank">Et blanditiis eum cumque deleniti</a
          >. At quae amet ut repudiandae quiaet dolorum vel officia Quis. Et
          provident laborum <em>33 dolorem id sequi modi</em>.
        </p><dl>
          <dt><dfn>Ab aliquam sunt aut minus sunt.</dfn></dt><dd>
            In voluptatem ratione et cumque enim ab ducimus quas!
          </dd><dt><dfn>Vel ipsam deserunt.</dfn></dt><dd>
            Ut nemo nobis quo quia minus sit voluptatibus illo sed quia
            asperiores!
          </dd><dt><dfn>Ut quia veniam ea impedit veniam.</dfn></dt><dd>
            Sit consequatur veniam eos dicta alias sit provident fuga.
          </dd>
        </dl><p>
          Est blanditiis tenetur <a
            href="https://www.loremipzum.com"
            target="_blank">Aut ducimus</a
          > ut corporis dolor. Et repudiandae voluptatem <em
            >A voluptatibus qui nobis quidem et deleniti quia</em
          > ex voluptatibus minima! Est temporibus excepturi <strong
            >Ad dolor ea officiis ducimus eos vitae eius in ducimus iure</strong
          > ut Quis quibusdam in rerum officiis. Sed ullam oditAut consequuntur quo
          debitis porro est quas eius qui tempore cumque eum internos minima?
        </p><pre><code>&lt;!-- Ea laboriosam doloribus qui voluptatem galisum et provident galisum. --&gt;<br />&lt;et&gt;Et deleniti pariatur.&lt;/et&gt;<br />&lt;omnis&gt;Qui officia laboriosam ut iste obcaecati rem autem eveniet.&lt;/omnis&gt;<br />&lt;labore&gt;Id maxime voluptate aut voluptates saepe ut cumque quasi?&lt;/labore&gt;<br />&lt;est&gt;Rem corporis aliquid.&lt;/est&gt;<br /></code></pre>
      </section>
      <section id="section_2">
        <p>
          Lorem ipsum dolor sit amet. Ab consequuntur tenetur <strong
            >Qui nemo in minus asperiores rem eveniet omnis</strong
          > nam omnis exercitationem ex suscipit eveniet. Non dignissimos enim qui
          veniam tempore <em>Rem fugit qui placeat eius et similique cumque</em
          >?
        </p><p>
          Et facilis excepturi sit deleniti modiaut pariatur id itaque
          doloremque nam error quos. Vel veritatis laborum <strong
            >Vel aperiam sed dolores nulla in voluptate iusto</strong
          >!
        </p><p>
          Qui vero voluptatumSed dolorem et illum asperiores ut officia dolore
          qui saepe magnam id ducimus sunt qui vero voluptatem. Aut porro
          corporis <em>Sit amet</em> est laboriosam maiores eos obcaecati delectus.
          Et nesciunt optio ut iste doloremque <a
            href="https://www.loremipzum.com"
            target="_blank">Id quisquam est rerum tenetur ut dolorum aliquid</a
          >. Vel deserunt galisum et optio exercitationemet dignissimos.
        </p><ul>
          <li>Est maxime cupiditate non nihil nobis?</li><li>
            In voluptatum assumenda ut optio dolores sit laborum quos.
          </li><li>Ut velit dolorem sed quidem tempore id soluta labore.</li><li
          >
            Ut dolor eveniet non ipsam possimus.
          </li><li>
            Sed commodi alias ut rerum molestiae aut commodi voluptas sit
            impedit fugit.
          </li><li>Sit amet delectus ut sint architecto ab quod tempore.</li>
        </ul>
      </section>
      <section id="section_3">

        <p>Lorem ipsum dolor sit amet. Ut quia molestiae sed voluptas nesciunt id repellendus quas eos quod harum sed architecto commodi. Ea omnis consequatur aut praesentium aspernatur ab eaque odit. </p><p>Ut reprehenderit officia non minima libero ut pariatur ratione aut architecto nesciunt et voluptate ipsum ut aspernatur ducimus. Vel reprehenderit numquam sit perspiciatis illum hic vitae consequatur ea iste officia. </p><p>Et veritatis laboriosam id quae quisquam vel sint omnis et perspiciatis rerum hic nisi laborum. Id pariatur aspernatur et voluptate blanditiis sit blanditiis asperiores sit rerum eaque eum delectus dolor quo unde consequatur eum dolorem asperiores. Nam placeat illum 33 voluptatibus fugit sit voluptatem odit ut libero voluptate. </p><p>Ut quia doloribus et consequatur delectus qui totam dolor aut ratione eius in consequatur voluptas et voluptas sint est corrupti consectetur. Eum eius fugiat est consequuntur eius et amet consectetur aut consequatur ipsa. Et voluptatibus voluptatem cum quia velit sit ipsam saepe eum rerum nesciunt non itaque obcaecati. </p><p>Aut assumenda libero et dolorem repellat in quam necessitatibus. A itaque aliquid qui ratione voluptas quo aliquid iste id provident harum. Eos commodi harum ab recusandae perferendis sed maiores iusto eum quod iste. </p><p>Ex repellendus quisquam non enim omnis eum aperiam eveniet qui quod quas qui similique voluptatum et veritatis praesentium id dolores atque! Hic quia maiores est dolorum laborum et repellat commodi et veritatis provident qui sunt dolor et Quis repellendus. Ut fugiat autem qui vero dolores ut temporibus itaque in similique laborum sed galisum veritatis id nihil ipsa eos sint sequi. </p>


        <p>
          Lorem ipsum dolor sit amet. Aut expedita nisi ea ipsam facilis <em
            >Sed autem et fuga delectus et veniam autem ea quia accusamus</em
          >. Ad distinctio cumque qui vitae fugitUt consequatur in delectus quod
          et voluptates commodi? Ut ipsam porroIn repellendus et quia
          accusantium aut aliquid numquam ut molestias perspiciatis qui facilis
          laborum. Et reprehenderit dolorem ut laboriosam adipiscisit earum eos
          distinctio iste.
        </p><ul>
          <li>
            Ea rerum maiores quo impedit aspernatur in nihil magni ea laboriosam
            itaque.
          </li><li>Et deleniti tenetur aut atque vitae!</li><li>
            Et fuga vero et odit internos.
          </li><li>Sed quaerat molestiae ut illo magnam.</li><li>
            Ut architecto consequatur qui quod cumque.
          </li>
        </ul><p>
          Est quisquam vero <em
            >Qui quibusdam et numquam numquam et quasi ducimus</em
          > qui maiores mollitia. Sit voluptas magni ut impedit accusantiumsit tenetur
          sit impedit velit.
        </p><p>
          33 culpa nesciuntEos praesentium id dignissimos reprehenderit et
          laudantium deleniti. Aut iure delectus <strong
            >Ut voluptas et quas tenetur qui laboriosam veniam</strong
          >.
        </p><dl>
          <dt><dfn>Est repudiandae quidem.</dfn></dt><dd>
            Id asperiores veritatis ut beatae ipsam.
          </dd><dt><dfn>At sunt aliquid qui deserunt nisi!</dfn></dt><dd>
            Qui totam molestiae cum galisum provident qui voluptate omnis.
          </dd><dt><dfn>Ea autem explicabo.</dfn></dt><dd>
            Ut dicta maxime ut esse nemo non enim fugiat ab exercitationem
            dolore.
          </dd>
        </dl>
      </section>
<section id="section_4">
        <p>
          Lorem ipsum dolor sit amet. Aut expedita nisi ea ipsam facilis <em
            >Sed autem et fuga delectus et veniam autem ea quia accusamus</em
          >. Ad distinctio cumque qui vitae fugitUt consequatur in delectus quod
          et voluptates commodi? Ut ipsam porroIn repellendus et quia
          accusantium aut aliquid numquam ut molestias perspiciatis qui facilis
          laborum. Et reprehenderit dolorem ut laboriosam adipiscisit earum eos
          distinctio iste.
        </p><ul>
          <li>
            Ea rerum maiores quo impedit aspernatur in nihil magni ea laboriosam
            itaque.
          </li><li>Et deleniti tenetur aut atque vitae!</li><li>
            Et fuga vero et odit internos.
          </li><li>Sed quaerat molestiae ut illo magnam.</li><li>
            Ut architecto consequatur qui quod cumque.
          </li>
        </ul><p>
          Est quisquam vero <em
            >Qui quibusdam et numquam numquam et quasi ducimus</em
          > qui maiores mollitia. Sit voluptas magni ut impedit accusantiumsit tenetur
          sit impedit velit.
        </p><p>
          33 culpa nesciuntEos praesentium id dignissimos reprehenderit et
          laudantium deleniti. Aut iure delectus <strong
            >Ut voluptas et quas tenetur qui laboriosam veniam</strong
          >.
        </p><dl>
          <dt><dfn>Est repudiandae quidem.</dfn></dt><dd>
            Id asperiores veritatis ut beatae ipsam.
          </dd><dt><dfn>At sunt aliquid qui deserunt nisi!</dfn></dt><dd>
            Qui totam molestiae cum galisum provident qui voluptate omnis.
          </dd><dt><dfn>Ea autem explicabo.</dfn></dt><dd>
            Ut dicta maxime ut esse nemo non enim fugiat ab exercitationem
            dolore.
          </dd>
        </dl>
      </section>
<section id="section_5">
        <p>
          Lorem ipsum dolor sit amet. Aut expedita nisi ea ipsam facilis <em
            >Sed autem et fuga delectus et veniam autem ea quia accusamus</em
          >. Ad distinctio cumque qui vitae fugitUt consequatur in delectus quod
          et voluptates commodi? Ut ipsam porroIn repellendus et quia
          accusantium aut aliquid numquam ut molestias perspiciatis qui facilis
          laborum. Et reprehenderit dolorem ut laboriosam adipiscisit earum eos
          distinctio iste.
        </p><ul>
          <li>
            Ea rerum maiores quo impedit aspernatur in nihil magni ea laboriosam
            itaque.
          </li><li>Et deleniti tenetur aut atque vitae!</li><li>
            Et fuga vero et odit internos.
          </li><li>Sed quaerat molestiae ut illo magnam.</li><li>
            Ut architecto consequatur qui quod cumque.
          </li>
        </ul><p>
          Est quisquam vero <em
            >Qui quibusdam et numquam numquam et quasi ducimus</em
          > qui maiores mollitia. Sit voluptas magni ut impedit accusantiumsit tenetur
          sit impedit velit.
        </p><p>
          33 culpa nesciuntEos praesentium id dignissimos reprehenderit et
          laudantium deleniti. Aut iure delectus <strong
            >Ut voluptas et quas tenetur qui laboriosam veniam</strong
          >.
        </p><dl>
          <dt><dfn>Est repudiandae quidem.</dfn></dt><dd>
            Id asperiores veritatis ut beatae ipsam.
          </dd><dt><dfn>At sunt aliquid qui deserunt nisi!</dfn></dt><dd>
            Qui totam molestiae cum galisum provident qui voluptate omnis.
          </dd><dt><dfn>Ea autem explicabo.</dfn></dt><dd>
            Ut dicta maxime ut esse nemo non enim fugiat ab exercitationem
            dolore.
          </dd>
        </dl>
      </section>

    </main>
    <menu>
      <div>
        <a href="#section_1">Section 1</a>
      </div>
      <div>
        <a href="#section_2">Section 2</a>
      </div>
      <div>
        <a href="#section_3">Section 3</a>
      </div>
      <div>
        <a href="#section_4">Section 4</a>
      </div>
      <div>
        <a href="#section_5">Section 5</a>
      </div>
    </menu>
  </div>
</Layout>

<style is:global>
  .long-content {
    margin: auto;
    max-width: 900px;
    position: relative;
    margin-bottom: 500px;
  }
  .long-content main {
    margin-right: 300px;
  }
  .long-content main section {
    padding-block: 4rem;
    margin-block:6rem;
    margin-top:-1rem;
    padding-top:9rem;
  }
  .long-content menu {
    position: fixed;
    right: 150px;
    top:100px;
  }
  .long-content menu a {
    font-weight: bold;
    transition: all .1s;
    opacity: 0.5;
  }
  .long-content menu div {
    margin-block:1rem;
  }
  .long-content menu a.active {
    opacity: 1;
  }
</style>


<script src="../core/longcontent/index"></script>
