---
import { playNotes } from "@/core/mina/play-notes";
import Layout from "../layouts/Layout.astro";
---

<Layout title="mina">
  <h1>Mina Game</h1>
  <div class="container">
    <grid-game></grid-game>
    <button class="play-button" type="button">Play</button>
  </div>
</Layout>

<script>
  import "../core/mina/wc-mina.ts";
  import { playNotes } from "@/core/mina/play-notes";

  const notes : number[] = []
  
  const gridGame = document.querySelector("grid-game") as GridGame;

  gridGame.addEventListener("game-over", () => {
    const shapesArray = gridGame?.getShapes?.()
    notes.push(...shapesArray)
    playNotes(notes)

    document.querySelector(".play-button")?.addEventListener("click", () => {
      playNotes(notes)
    })

    // alert("Game Over!");
  });

</script>

<style is:inline>
  h1 {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .container {
    max-width: 414px;
    margin: 0 auto;
  }
  grid-game {
    margin-top: 2rem;
  }
</style>