---
import {getAvailableKeys, getAvailableScaleTypes} from '@/core/mina/play-notes'
import Layout from '../layouts/Layout.astro'
import '../core/mina/mina-page.css'

const keys = getAvailableKeys()
const scaleTypes = getAvailableScaleTypes()
---

<Layout title="mina">
  <h1>Mina Game</h1>
  <div class="container">
    <form class="mina-form">
      <input type="number" min="1" max="64" placeholder="Enter number 1-64">
      <button type="submit">Submit</button>
    </form>
    <grid-game style="--shape-color:black; --cursor-color:red; --background-color:#efefef"></grid-game>
    <div class="controls">
      <div class="scale-controls">
        <label for="key-select"
          >Key:
          <select id="key-select">
            {
              keys.map(key => (
                <option value={key} selected={key === 'C'}>
                  {key}
                </option>
              ))
            }
          </select>
        </label>

        <label for="scale-select"
          >Scale:
          <select id="scale-select">
            {
              scaleTypes.map(scaleType => (
                <option value={scaleType} selected={scaleType === 'Major'}>
                  {scaleType}
                </option>
              ))
            }
          </select>
        </label>
        <button class="play-button" type="button">Play</button>
      </div>
    </div>
  </div>
</Layout>

<script src="../core/mina/mina-page.ts"></script>


