---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mina">
  <h1>Mina Game</h1>
  <div class="container">
    <grid-game></grid-game>
  </div>
</Layout>

<script>
  import "../core/mina/wc-mina.ts";
</script>

<style is:inline>
  h1 {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .container {
    max-width: 414px;
    margin: 0 auto;
  }
  grid-game {
    margin-top: 2rem;
  }
</style>