---
import Menu3 from '@/components/menu.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <Menu3 />
    <h1>Name</h1>
    <input type="text" />
    <button id="submitter">Submit</button>
    <script>
      document.querySelector('#submitter').addEventListener('click', e => {
        alert('Name is complete!')
      })
    </script>
    this boy went around the backyard to find something nice. so, the temprature
    outside was about 30˚F outside. it was very cold, so he had to wear a scarf,
    jacket<a href="">,</a> and gloves. then he felt warmer like 60˚, so after he
    was cold, he wanted to be cold, so he dressed up naked and oh boy he was extremely
    cold. he said: "brrr" so he went and didn't get it. so, he went by to <u
      >find out what it i</u
    >s. so he found out what it is. after that he noticed. oh that is the <b
      >big</b
    > deal for coding so he went with a friendsh<a href="">i</a>p around the
    city, so, he learned french. after that, there was a backyard in front of
    him. oh so <i>is</i> it moonshadow? no, it is 6 7 dolphin fogyard. so i went
    around and saw dolphin fogyard with 6 7. after he met 6 7. they found number
    6-8. so ---- it used html for sure --- also put in form. so, we want to see which
    switch is the best. then, he discovered what was new. after he found what was
    new, oh, <details>
      <summary>that is cool!</summary>
      <div>
        well i used that <a href="">chart</a> in may, so, i wanted to fix it
      </div>
    </details>like mannies? just kidding, it really was the details i used to
    remember. when i was a fortune guy, i found 3 hidden links. the href in the
    links was "" only, nothing in there which goes nowhere. hey there <input
      type="text"
    />, is that your name? your name is <input type="text" />, right? oh your
    email is <input type="email" name="" id="" />
    <h3>there is something wrong with the slider</h3>
    <input max="16" value="11" type="range" name="" id="" />
    <style>
      input [type='range'] {
        font-variant-ligatures: 21;
      }
    </style>
    <button aria-disabled="" disabled="disabled">no</button>
    <h6>write the best thing in the textarea</h6>
    <textarea placeholder="you can write whatever you want!" name="" id=""
    ></textarea>
    <h3>
      after the textarea, please adjust the 3 sliders because we need you to
      turn one of them down
    </h3>
    <input disabled value="100" type="range" />
    <input disabled value="0" type="range" />
    <input disabled value="100" type="range" name="" id="" />
    <h3>do the same</h3>
    <input value="0" type="range" name="" id="" />
    <input value="0" type="range" name="" id="" />
    <input value="0" type="range" name="" id="" />
    <h1>Hmm, it looks like the textarea isn't enough</h1>
    <textarea disabled placeholder="write anything" name="" id=""></textarea>
    <h1>Slider</h1>
    <input value="0" type="range" name="" id="" />
    <input disabled type="submit" value="" />
    <h2>adjust the 2nd slider to 100%</h2>
    <input type="range" name="" id="" />
    <input type="range" name="" id="" />
    <input type="range" name="" id="" />
    <h2>11 buttons in the folder means h1, 2, 3, 4, 5, and 6</h2>
    <h1>1</h1>
    <h2>2</h2>
    <h3>3</h3>
    <h4>4</h4>
    <h5>5</h5>
    <h6>6</h6>
    <h2>find the hidden link</h2>
    The boy took a shower inside his batht<a href="">u</a>b.
    <h6>small areas</h6>
    <small>small stuff happening here</small>
    <h5>this is a group button</h5>
    <h4>where it is fun</h4>
    <h6>the area is 2</h6>
    <h5>the others are areas of 6</h5>
    <h2>wait!!! what if we had a big area</h2>
    <h4>then open it</h4>
    <details>
      <summary>big area</summary>
      <div>
        <h1>BIG AREA!!!!!</h1>
        <big>BIG SIZES</big>
        <h2>this is where big stuff are</h2>
        <h1>FFFFFFFFFF</h1>
      </div>
    </details>
    <script>
      alert('make sure that you follow the derections')
      alert('there are summary details where to open')
      alert('different summaries mean going in forms')
      alert('Start now')
    </script>
    <h5>the button inside shows you to the sliders</h5>
    <h6>sometimes you need it in a big area and small area</h6>
    <h1>Open and form it</h1>
    <h3>whenever an alert comes, make it true and false</h3>
    <h5>when you need to follow them, use documents + e.target.value</h5>
    <h2>documents are startful when it is thundering</h2>
    <h4>last thing which is at the bottom:</h4>
    <input type="file" name="" id="" />
  </body>
</html>
