---
import Layout from '../layouts/Layout.astro'
---

<Layout title="learn to code">
  <h1>Spinners</h1>
  <div id="spinners">
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
  </div>
</Layout>

<script src="../core/spinners/index"></script>
