---
import WCFloatingLabel from '../components/WCFloatingLabel.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout title="learn to code">
  <div id="spinners">
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
    <wc-spinner></wc-spinner>
  </div>
  <div class="actionButtons">
    <!-- <button id="edit">Edit On</button> -->
    <!-- <button id="change_fans">Change Fans</button> -->
    <WCFloatingLabel label={'Number of Spinners'}>
      <input type="number" name="number_of_fans" min="0" value="3" max="80" required>
    </WCFloatingLabel>
  </div>
</Layout>

<script src="../core/spinners/index"></script>

<style>
  #spinners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  wc-spinner svg {
    margin:-20px;
  }

  h1 {
    display: flex;
    gap:1rem;
  }
  #edit {
    display: none;
  }

  input[name='number_of_fans'] {
    padding-inline:10px;
    padding-block:7px;
  }

  #change_fans,
  #edit {
    /* align-self: center; */
    vertical-align: middle;
  }

  #edit.active {
    background-color: red;
    color:white;
  }

  #spinners {
    margin-top:20px;
  }

  .actionButtons {
    position:fixed;
    left:20px;
    bottom:20px;
  }

  .actionButtons button {
    padding:10px;
    font-size: 20px;
    background: white;
  }

  html, body {
    height: 100%;
  }

</style>