---
import '@/core/sro4/sro17'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SRO17 - Talk to Mila and Baby Soul</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1>SRO17 - Talk to Mila and Baby Soul</h1>
      <wc-sro17></wc-sro17>
    </main>
  </body>
</html>

<script>
  import '@/core/sro4/sro17'
</script>
