---
// Import the script for client-side execution
import musicAppScript from '../core/sro2/MusicApp.js?url';
import Menu3 from '@/components/Menu3/Menu3.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Music Sentence App</title>
	</head>
	<body>
        <Menu3 />
		<script type="module" src={musicAppScript}></script>
		<music-app></music-app>
	</body>
</html>