<h1>sro27</h1>
<h2>play the game</h2>
<h2>option time!</h2>
<select name="" id="">
  <option value="">Tilford Tilford</option>
  <option value="">Garnet song</option>
  <option disabled value="">Streat load</option>
  <option value="">Loosing half of blood</option>
  <input placeholder="Other" type="text" />
</select>
<h3>button it</h3>
<button>A</button>
<br />
<button disabled="disabled">B</button>
<h3>who are your parents names?</h3>
<input placeholder="Kid" type="text" />
<br />
<input placeholder="Mom" type="text" />
<br />
<input disabled placeholder="Dad" type="text" />
<h2>who is the kid's name?</h2>
<b>choose the m</b>om:
<br />
<select name="" id="">
  <option value="">Pia</option>
  <option value="">Lonnie</option>
  <option value="">Louisa</option>
  <option value="">Hazel</option>
</select>
<br />
<br />
<b>choose the d</b>a<a href="">d</a>:
<br />
<select name="" id="">
  <option value="">Pete</option>
</select>
<h3>you choosed the names!</h3>
<h1>Details:</h1>
<details>
  <summary>Details</summary>
  <div>
    <textarea name="" id="" rows="10"></textarea>
  </div>
</details>
<h1>The details have a textarea in it. write what you want in it!</h1>
<h4>textarea runoff</h4>
<h6>make scenes by the runoff</h6>
<input type="datetime-local" name="" id="" />
<details>
  <summary>Runoff</summary>
  <div>
    <h2>Win prizer</h2>
  </div>
</details>
<h2>win the prizer so that we can use more to h1!</h2>
<h1>1</h1>
<h2>2</h2>
<h3>3</h3>
<h4>4</h4>
<h5>5</h5>
<h6>6</h6>
<details>
  <summary>Prizer</summary>
  <div>
    <h3>Check joe's sieter</h3>
    <input type="checkbox" name="" id="" /> Mila
  </div>
</details>
<h2>Cations to the prizer</h2>
as if she was playing this game, Mila was an actor to the assist. here are the characters
<br />
Joe
<br />
Mila
<br />
Darren
<br />
Nick and Steffan
<br />
Baine
