---
import Menu from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Menu />
    <h1>71</h1>
    <input value="33" max="50" type="range" name="" id="" />
    <style>
      input[type='range'] {
        width: 100%;
        display: block;
      }
    </style>
    <h4>Joe's type =</h4>
    more types then
    <br />
    other types
    <br />
    that can go
    <br />
    with the things that ha-
    <br />
    -ppen
    <h2>choose an option</h2>
    <select name="" id="">
      <option value="">Updown</option>
      <option value="">Factory set</option>
      <option value="">Horn honk</option>
      <option value="">Senty fixxin</option>
      <option value="">Omiest truth</option>
      <option value="">Gel day</option>
      <option disabled value="">500</option>
    </select>
    <h2>Neal Town</h2>
    <h4>what is the Temprature?</h4>
    <select name="" id="">
      <option value="">Select</option>
      <option value="">Cold</option>
      <option value="">Slightly cold</option>
      <option value="">Cool</option>
      <option value="">Warm</option>
      <option value="">Hot</option>
      <option value="">Sweltering hot</option>
      <option value="">Severely Hot</option>
    </select>
    <h4>air quality</h4>
    <select name="" id="">
      <option value="">Good</option>
      <option value="">Moderate</option>
      <option value="">Bad</option>
      <option value="">Bad</option>
      <option value="">Very bad</option>
      <option value="">Poison</option>
      <option value="">Junchis</option>
      <input type="number" name="" id="" />
    </select>
    <h3>choose the people</h3>
    <input type="checkbox" name="" id="" /> Joe
    <br />
    <input type="checkbox" name="" id="" /> Mila
    <br />
    <input type="checkbox" name="" id="" /> Darren
    <br />
    <input type="checkbox" name="" id="" /> Nick and Stephan
    <br />
    <input type="checkbox" name="" id="" /> Baine
    <h1>Joe is a famous actor</h1>
    <h1>Darren doesn't come very much</h1>
    <h1>Nick and Stephan both act weird</h1>
    <h1>Baine (who should be checked) is a special character</h1>
    <h3>choose Baine</h3>
    <details>
      <summary>who are these people?</summary>
      <div>
        these people are famous actors
        <br />
        the famous one is Joe
        <br />
        Baine is a checked checkmark. it lets the other 4
        <h1>Hint:</h1>
        <h5>is somebody missing in the text above?</h5>
      </div>
    </details>
    <h3>Senty fixxin unlocked</h3>
    <h6>who is missing in the 4 texts?</h6>
    <input value="person_missing_=" type="text" />
    <h2>Answer</h2>
    <h4>how to unlock more options</h4>
    1. options are called OPTIONS. so, senty fixxin is a play on character, who can
    be enabled if you check (Nick and Stephan) and (Baine)
    <br />
    2. Omiest truth is even harder to get, if you get the right air quality for Neal
    Town
    <br />
    3. Gel day only unlocks if you adjust the slider to 71
    <br />
    <h5>Hard:</h5>
    4. 500 is for the air quality, and that is impossible to unlock. we already unlocked
    Omiest truth
    <h2>how can we unlock 500?</h2>
    the only way to unlock 500 is if we have an emergency in Neal Town. Gel day can
    unlock, and just unlocked now! they'll all be all unlocked with an emergency
    <h1>Slightly cold was locked</h1>
    <h6>
      Slightly cold means not cold or hot. no temprature. but what was
      unnexpected was it was unlocked
    </h6>
  </body>
</html>
