---
import Menu3 from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SRO3 App</title>
	</head>
	<body>
        <Menu3 />
		<script src="../core/sro3/index.ts"></script>
		<sro3-app></sro3-app>
	</body>
</html>