---
import Menu3 from '@/components/menu.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SRO4 App</title>
	</head>
	<body>
		<Menu3 />
		<sro4-app></sro4-app>
		<script>
			import('@/core/sro4/index.ts')
		</script>
	</body>
</html>
