---
import Menu3 from '@/components/Menu3/Menu3.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SRO4 App</title>
	</head>
	<body>
		<Menu3 />
		<script src="../core/sro4/index.ts"></script>
		<sro4-app></sro4-app>
	</body>
</html>
