---
import Layout from "../layouts/Layout.astro";
const initial = {
	size: 13,
	points: 5,
	oddOffset: -2,
	star_width: "50px",
};
---

<Layout title="ampm">
	<div id="spin-wrap">
		<svg>
			<path class="star-path"></path>
		</svg>
	</div>
	<form
		id="form"
		data-size=`${ initial.size }`
		data-points=`${ initial.points }`
		data-oddoffset=`${ initial.oddOffset }`
		data-starwidth=`${ initial.star_width }`
	>
		<input
			type="range"
			id="size"
			min="0"
			max="50"
			value=`${ initial.size }`
		/>
		<input
			type="range"
			id="points"
			min="0"
			max="100"
			value=`${ initial.points }`
		/>
		<input
			type="range"
			id="oddoffset"
			min="-5.000"
			max="5.0000"
			value=`${ initial.oddOffset }`
			step="0.001"
		/>
		<button class="px-5 py-3">start</button>
	</form>
</Layout>

<script src="../core/star/main.js"></script>

<style define:vars={{ star_width: initial.star_width }}>
	:root {
		--gap: 40px;
	}
	#spin-wrap {
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		height: 100vh;
		width: 100vw;
	}
	#spin-wrap > svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(20);
		width: calc(var(--star_width) * 2);
		height: calc(var(--star_width) * 2);
	}
	#form {
		position: absolute;
		bottom: var(--gap);
		left: var(--gap);
		display: flex;
		width: calc(100vw - (var(--gap) * 2));
		gap: var(--gap);
	}
	#form > input {
		flex: 1;
	}
	#spin-wrap.spinning > svg {
		animation: spin 15s ease-in-out;
	}
	@keyframes spin {
		from {
			transform: translate(-50%, -50%) rotate(0deg) scale(20);
		}
		to {
			transform: translate(-50%, -50%) rotate(1800deg) scale(20);
		}
	}
</style>
