---
import Layout from "../layouts/Layout.astro";
const initial = {
	size: 13,
	points: 5,
	oddOffset: -2,
	star_width: "50px",
};
---

<Layout title="ampm">
	<div id="spin-wrap">
		<svg>
			<path class="star-path"></path>
		</svg>
	</div>
	<form
		id="form"
		data-size=`${ initial.size }`
		data-points=`${ initial.points }`
		data-oddoffset=`${ initial.oddOffset }`
		data-starwidth=`${ initial.star_width }`
	>
		<input
			type="range"
			id="size"
			min="0"
			max="50"
			value=`${ initial.size }`
		/>
		<input
			type="range"
			id="points"
			min="0"
			max="100"
			value=`${ initial.points }`
		/>
		<input
			type="range"
			id="oddoffset"
			min="-5.000"
			max="5.0000"
			value=`${ initial.oddOffset }`
			step="0.001"
		/>
		<button class="px-5 py-3">start</button>
	</form>
</Layout>

<script src="../core/star/main.js"></script>

<style define:vars={{ star_width: initial.star_width }}>
	:root {
		--gap: 40px;
		--elastic-easing: linear(
			0, 0.218 2.1%, 0.862 6.5%, 1.114, 1.296 10.7%, 1.346, 1.37 12.9%, 1.373,
			1.364 14.5%, 1.315 16.2%, 1.032 21.8%, 0.941 24%, 0.891 25.9%, 0.877,
			0.869 27.8%, 0.87, 0.882 30.7%, 0.907 32.4%, 0.981 36.4%, 1.012 38.3%, 1.036,
			1.046 42.7% 44.1%, 1.042 45.7%, 0.996 53.3%, 0.988, 0.984 57.5%, 0.985 60.7%,
			1.001 68.1%, 1.006 72.2%, 0.998 86.7%, 1
		);
		--custom-easing: linear(
			0, 0.002, 0.01 3.6%, 0.034, 0.074 9.1%, 0.128 11.4%, 0.194 13.4%, 0.271 15%,
			0.344 16.1%, 0.544, 0.66 20.6%, 0.717 22.4%, 0.765 24.6%, 0.808 27.3%,
			0.845 30.4%, 0.883 35.1%, 0.916 40.6%, 0.942 47.2%, 0.963 55%, 0.979 64%,
			0.991 74.4%, 0.998 86.4%, 1
		);
	}
	#spin-wrap {
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		height: 100vh;
		width: 100vw;
	}
	#spin-wrap > svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(20);
		width: calc(var(--star_width) * 2);
		height: calc(var(--star_width) * 2);
	}
	#form {
		position: absolute;
		bottom: var(--gap);
		left: var(--gap);
		display: flex;
		width: calc(100vw - (var(--gap) * 2));
		gap: var(--gap);
	}
	#form > input {
		flex: 1;
	}
	#spin-wrap.spinning > svg {
		/* animation: spin 15s ease-in-out; */
		animation: spin 15s var(--custom-easing);
	}
	@keyframes spin {
		from {
			transform: translate(-50%, -50%) rotate(0deg) scale(20);
		}
		to {
			transform: translate(-50%, -50%) rotate(1800deg) scale(20);
		}
	}
</style>
