---
import Layout from "../layouts/Layout.astro";
---

<Layout title="talkers">
    <main id="talkers">
            <div class="layout">
                <div id="list"></div>
                <div id="input_area"></div>
            </div>
    </main>
</Layout>

<script src="../core/talkers/index.ts"></script>

<style is:global>
    html:has(#talkers) {
        background-color: white;
    }
    main {
        max-width: 1100px;
        margin: 0 auto;
        background-color: white;
        min-height: 100vh;
        padding: 0 1rem;
        box-sizing: border-box;
    }
    main header {
        min-height: 80px;
    }
    main .layout {
        display: flex;
        gap: 1.2rem;
    }
    main .layout #input_area {
        flex: 1;
    }
    #list textarea.text {
        display: none;
    }
    #list {
        max-height: 100vh;
        overflow-y: auto;
        padding-right:20px;
        border-right:1px dotted gray;
    }
</style>
