---
import Empty from '../layouts/Empty.astro'
import WCDialogWrap from '../components/WCDialogWrap.astro'
import Menu2 from '@components/Menu/Menu2.astro'
import '../../pico.css'
import '../core/talkers2/style.css'
---

<Empty title="talkers">
  <div id="talkers" class="container2">
    <header class="header">
      <div id="brand"></div>
      <div class="buttons">
        <button id="add_sound">Sounds</button>
        <span class="spacer"></span>
        <button id="remove_all">Remove All</button>
        <button id="clear_all">Clear</button>
        <button id="play_all">Play</button>
        <Menu2 />
      </div>
    </header>
    <aside class="leftColumn" id="list">
      <WCDialogWrap id="sounds">
        <div>
          <wc-meme-board>
            <fieldset role="group">
              <input type="search" placeholder="filter" name="filter" />
            </fieldset>
            <div class="list"></div>
          </wc-meme-board>
        </div>
      </WCDialogWrap>
    </aside>
    <form class="rightColumn" id="input_area"></form>
  </div>
</Empty>

<script src="../core/talkers2/index.ts"></script>
<script src="../components/wc-meme-board.ts"></script>
