---
import Empty from '../layouts/Empty.astro'
import WCDialogWrap from '../components/WCDialogWrap.astro'
import Menu2 from '@/components/Menu/Menu2.astro'
// import Menu2 from '@/components/Menu/Menu2.astro'
import '../../pico.css'
---

<Empty title="talkers">
  <div id="talkers3">
    <Menu2 />
    <wc-universal-talkers-list></wc-universal-talkers-list>
  </div>
</Empty>

<script src="../core/talkers3/wc-universal-talkers-list.ts"></script>

<style is:global>
  wc-universal-talkers-list {
    display: block;
    max-width: 1200px;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-inline: auto;
  }
  wc-universal-talker {
    border-top: 1px solid #00000052;
    display: block;
    padding-top: 1rem;
  }

  wc-universal-talker .flex {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }
  wc-universal-talker [name='voice_type'] {
    flex: 0;
    min-width: fit-content;
  }
  wc-universal-talker .controls,
  wc-universal-talker .controls > * {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
  }
  wc-universal-talker .nowrap {
    white-space: nowrap;
  }
  .list-action {
    text-align: center;
  }
</style>
