---
import Layout from '../layouts/Layout.astro'
import WCDialogWrap from '../components/WCDialogWrap.astro'
import '../core/talkers2/style.css'
---

<Layout title="talkers">
  <div id="talkers" class="container">
    <header class="banner">
      <div id="brand"></div>
      <div class="buttons">
        <button id="back_to_site">back to site</button>
        <!-- <span class="spacer"></span> -->
        <!-- <button id="add_sound">Add Sound</button> -->
        <span class="spacer"></span>
        <button id="remove_all">Remove All</button>
        <button id="clear_all">Clear</button>
        <button id="play_all">Play All</button>
      </div>
    </header>
    <main class="content">
      <aside class="left-column" id="list"></aside>
      <form class="right-column" id="input_area"></form>
      <!-- <WCDialogWrap id="sounds">
        <div>
          <wc-meme-board></wc-meme-board>
        </div>
      </WCDialogWrap> -->
    </main>
  </div>
</Layout>

<script src="../core/talkers2/index.ts"></script>
<script src="../components/wc-meme-board.ts"></script>