---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tide game">
    <h1 id="heading"></h1>
    <div id="graph"></div>
    <div id="days"></div>
</Layout>

<script src="../core/tide/tide.ts"></script>

<style is:global>

    :root {
        --width : 100vw;
    }

    #graph {
        margin:0 auto;
        max-width:var(--width);
        margin-top: 5rem;
        overflow-x:auto;
        overflow-y:hidden;
        background-color: rgba(255,255,255,.5);
        height: 400px;
    }
    #graph > svg {
        width:fit-content;
        height: fit-content;
    }
    #days {
        display: block;
        padding:20px;
    }
    #days table {
        width: 100%;
        max-width: 30rem;
        margin:0 auto;

    }

    #days table td:is(:nth-child(2)) {
        text-align: center;
    }
    #days table th:is(:nth-child(1)),
    #days table td:is(:nth-child(1)) {
        text-align: left;
        padding-left:2rem;
    }
    #days table th:is(:nth-child(3)),
    #days table td:is(:nth-child(3)) {
        text-align: center;
    }
    #days table td {
        background-color: rgba(255,255,255,.5);
        padding: .5rem;
    }
    #days table tr:nth-child(odd) {
        background-color: rgba(255,255,255,.6);
    }
    #days {
    }
</style>