---
import WCFloatingLabel from '../components/WCFloatingLabel.astro'
import Layout from '../layouts/Layout.astro'
import '../core/crosswords/wordsearch.css'
---

<Layout title="ampm">
  <h1 contenteditable>ğ‚… Mommy's Wacky Word Search Game ğ“€¡</h1>
  <div id="words-to-find">
    <span contenteditable>Find these words:</span>
    <span contenteditable id="words-to-find-list"></span>
    <button id="reset">â™¼</button>
  </div>
  <div>
  </div>
  <div id="crosswordgrid"></div>
  <form id="crosswords">
    <div class="group">
      <WCFloatingLabel label={''} adderror={'1'}>
        <textarea name="words" id="" cols="30" rows="5" required minlength="1"
          >ğ“‚¾ ğ“„ ğ“ƒ° ğ“ƒ½ ğ“…® james kempton</textarea
        >
      </WCFloatingLabel>
      <div>
        <WCFloatingLabel label={'width'} adderror={'1'}>
          <input type="number" name="width" value="9" min="1" required />
        </WCFloatingLabel>
        <WCFloatingLabel label={'height'} adderror={'1'}>
          <input type="number" name="height" value="9" min="1" required />
        </WCFloatingLabel>
      </div>

      <button type="submit">Submit</button>
    </div>
  </form>
</Layout>

<script src="../core/crosswords/CrossWords"></script>