---
import Switches from './Switches.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <h1>Scab game</h1>
    <h3>choose how bad the scab will be</h3>
    <input type="number" name="" id="" />%
    <h3>can you please tell me where the scab is?</h3>
    <h6>platelets help clear them</h6>
    <h4>please tell me where it is</h4>
    <div>
      <Switches />
    </div>
  </body>
</html>
