<h3>play</h3>
<h4>play games</h4>
<h1>first please tell us what switches work</h1>
<input type="checkbox" value="1" name="" id="" />
<input type="checkbox" value="2" name="" id="" />
<script>
  document.querySelector()
</script>
<script>
  alert(
    'the styler is extremely bad. it is overbad. it means that it is the worst'
  )
  alert('man, it is super trashy')
</script>
<h4>can you adjust the slider a bit?</h4>
<h2>like this</h2>
<input type="range" value="100" name="" id="" />
<input type="range" value="100" name="" id="" />
