<h2>are you ready? you want to see the game?</h2>
<h4>choose how bad you are. if you are bad enough, don't panic</h4>
<input type="image" src="" alt="4" />
<div id="results">there</div>
<input value="1" type="range" name="" max="1000" id="tamoc" />
<script>
  document.getElementById('tamoc').addEventListener('input', e => {
    document.getElementById('results').style.fontSize = e.target.value + 'px'
  })
</script>
<h3>see styles</h3>
<details>
  <summary>more style</summary>
  <div>
    <input type="date" name="" id="frame" />
    <script>
      document.querySelector('frame').addEventListener('input', e => {
        alert(e.target.value)
      })
    </script>
    <h3>open tags to help it</h3>
    <h4>for that, write a style code to change it</h4>
    <h5>create a wholesome that is for kids. do a kid wholesome</h5>
    <textarea name="" placeholder="remember, nothing bad" id=""></textarea>
    <input placeholder="date" type="datetime-local" name="" id="" />
    is "files" a code?
    <button>yes</button>
    <button>no</button>
  </div>
</details>
<details>
  <summary>heading numbers 1-6</summary>
  <div>
    <h1>this is the biggest of them all</h1>
    <h2>is is a normal big one. not as big as h1</h2>
    <h3>this is still big, but looks small enough</h3>
    <h4>it is too small, maybe make it bigger</h4>
    <h5>can you see me? i am really small</h5>
    <h6>this text is very tiny</h6>
  </div>
</details>
<h1>Sort game</h1>
<h4>play games to win prizes!</h4>
<h1>2</h1>
<h1>0</h1>
<h3>2 moves, 0 points</h3>
<h3>11 buttons in the folder means all numbers</h3>
<h1>1</h1>
<h2>2</h2>
<h3>3</h3>
<h4>4</h4>
<h5>5</h5>
<h6>6</h6>
<style>
  div {
    font-size: 4pt;
  }
</style>
<div>7</div>
<h3>wait!!!!! what if we need to log in</h3>
<h2>first, the email is the stuff we need</h2>
<input placeholder="Required" type="email" name="" id="" />
<input placeholder="Required" type="password" name="" id="" />
<h1>can you show us something cool?</h1>
<input class="disabled" type="file" name="" id="" />
<h6>desktop</h6>
<small><small>small</small></small>

style = <e class="target">e disabled</e>
<dl><dialog>f</dialog></dl>
<video src="man picking scabs"></video>
import <e class="target"><html><h1>e</h1>e</html>e</e><embed
  src="rcrc"
  type="ecec"
/>
<embed src="mom.com" type="input" />
<samp>samp video</samp>
into <samp>video</samp>
ito <bdo dir="rtl">rteret</bdo>
<button></button>
