---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <h1>Choose</h1>
    <h3></h3>
    <h4>make up the most funniest name ever</h4>
    <input maxlength="7" type="text" />
    <h2>read the story but first fill in the inputs</h2>
    <h1>Hint:</h1>
    <h4>in the weirdest way</h4>
    my brother was going to <select name="" id="">
      <option value="">have</option>
      <option value="">stack</option>
      <option value="">feel</option>
    </select> his new houses. after that guy went around and saw the new riddle,
    he just
    <select name="" id="">
      <option value="">made</option>
      <option value="">pricked</option>
      <option value="">flipped</option>
    </select> his switch. the color of his switch was <select name="" id="">
      <option value="">dark</option>
      <option value=""> </option>
      <option value="">light</option>
    </select>
    <select name="" id="">
      <option value="">red</option>
      <option value="">orange</option>
      <option value="">yellow</option>
      <option value="">green</option>
      <option disabled value="">blue</option>
      <option disabled value="">crusty</option>
    </select>. then, he found other switches. the 1st one isn't working. the 2nd
    one dims the lights, and the 3rd one makes it dark. all 3 off means all the
    way dark. so, he was in his <table>best</table> of his clding. he was going after
    this boy needed a shower. so, he wanted to focus his writing a bit. after he
    went, he saw a section tag, it looked like this: <section>
      this is a section
    </section> but noticed he wanted a different tag. h levels. he tried h1, ooh,
    it was the biggest font. h2, oh, still big but just normal. h3, normal size.
    h4, ooh small like his handwriting. h5, woah, it is so small. h6, it is not allowed.
    then, he focused that he found the best link he can go to. it was the name of
    his computer. he tried it, wooh! look at the <a
      href="https://www.clever.com/">link</a
    >!
    <h4>Next, he does the 3 switches</h4>
    woah, it is a new day, he wanted to go out for an adventure. he wanted to go
    to san fransisco. it was where his best city enjoyed. but after that, he used
    the elavator to <select name="" id="">
      <option value="">break</option>
      <option value="">borrow</option>
      <option value="">use math to</option>
    </select> it. it almost thought that it was in his space, so, he wanted his buttons
    to be neat and small. so, he went back home and did the lights. he turned on
    the light in the middle. it is dark. but not all the way. ooh, he wanted to try
    light 3. so, he turned it on and saw all the lights work. he almost wanted something,
    and had to think of something very exciting. he wanted to do it cooly
    <style>
      textarea {
        width: 100%;
        height: 100vh;
      }
    </style> and cooly. he wanted to fly into his normal textarea, but first, he
    needs a plan. he wants him to be named. so, he wanted to name himself <input
      type="text"
    />, which was the weirdest. after that, he went and flew into his textarea.
    okay here it goes <h1>Write the rest of the story. make it short</h1>
    <textarea maxlength="500" name="" id=""></textarea>
    <h4>next one: a talk about switch 1</h4>
    so, he wanted to use his switches. he took care, and saw what to do. he wanted
    to paint his picture a color that is really intresting. so he blew the candles
    and made a wish. he wished for ••• ••••• •• • ••• ••••. so, he made it up. so,
    try finding it. oh, and there is a pretty girl. she is so nice and calm. her
    sentence words are: mom is luckily arrested. so that girl name would be <input
      type="text"
    /> oh, and she found her mouse on the computer. he ⛏️ the tools and used them
    to create a 📃. then, he used his breath to <select name="" id="">
      <option part="11 ganc" value="">❌</option>
      <option value="">💣</option>
      <option value="">💻</option>
    </select> for his emoji. he likes using the computer. he took videos with his
    dad. who did he take videos with? <input
      value="he took videos with "
      type="text"
    />
  </body>
</html>
