---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body> </body>
</html>
<h2>ths episode: the prettiest girl</h2>
so, when he woke up he turned on all of the lights, and noticed that it was dark.
so, he went, and found out what will happen inside the musemn. so, he went in, and
saw some really good and pretty <select name="" id="">
  <option value="">falses</option>
  <option value="">sharks</option>
  <option value="">mandianas</option>
</select> inside their bones. there bones had a fin, and it was describing to us.
we were moles, inviting a scab to my house. the scab was below and i ket pcking at
it and screamed words. <small>oh no</small> he said. he wants to use his tools to
create the ⚙️ all over. it was raining cats and dogs. oh, he was not <i
  >really</i
> in sure of that, but light switch number <select name="" id="">
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
</select> dimmed the lights, so, he turned that switch off and boom was that an html
right there? woah, it is raining <big>cats and dogs</big>.so, after that he did <div
  class=""
>
  a <datalist>datalist</datalist>
</div> for bad code. <code>so he coded a <form action=""></form></code> after that.
after, he musemed, and noticed that its body had none. so, was it rea<a
  href="http://www.palms">l</a
>ly? well, it really was, so, he noticed that the wrong code is the second l,
which is very tall. after that, he noticed that there was a hidden face. the fac<a
  href="http://www.pixels">e</a
> was under the couch, pretending it he datad and made an input, in this input write
it and so he focused that he was really unsure of his div's. class in that, so inside
he went around and found a good person, just waiting for that big and hung<a
  href="">r</a
>y bear. so, that hungry bear went around and saw what happened. well, boom was
it neat? um, it <i>WAS</i> neat. it really really was neat. for saying it was neat,
the bubbles turned yellow, and woooo<a href="">o</a>ooooah, that was so much
really really <i>really</i> neat!!!!!
<h1>Next:</h1>
what do you mean? why was it neat? well? um, it was neat because of something e<a
  href="">ls</a
>e. something else was inside our hungry bear noticed. after he noticed, he went
BOOM and saw what <a href="">M</a>ina did. she was terring the room down and oh
he was very angry like cat level angry. he gasped and saw what she did. her
brother max and jason were also mad. sarah and john will be very unhappy. he
forced him to touch the smoothest panel on the right side of an air conditioner
at a school. how smooth? very smo<a href="">o</a>th!
<h3>good win</h3>
hey wait! what was very smooth? well, the air conditioner was very very very smooth!
on a scale of 1-10, it would be a 10!!! so smooth that someone would go <big
  >DICCA!!!!!</big
> very loudly. and also noticed if it wrote big it would be small like his handwriting:
here is the letter he sent: dear grandma. you are the best grandma i ever noticed
in my lif<a href="">e</a>! you give me super great ideas, and such a wonderful
one James
<h4>letter done</h4>
so he wrote his letter for grandma and oh she was crying with happy tears, and he
cried so much that he made her heart turn green! it was such a happy no<a
  href="">t</a
>e that her heart turned green. now her live is doubled! which means around 205
years old! is that an old grandma? yes it <a href="">is</a>
