<h3>hi there!</h3>
<h4>if you used a textarea, try to write everything</h4>
<h2>this episode: turning off light 3 with the others on</h2>
so, this kid is a boy and he likes to do the lights. he usually paints them. so,
he likes to paint them <select name="" id="">
  <option value="">Red</option>
  <option value="">Orange</option>
  <option value="">Yellow</option>
  <option value="">Green</option>
  <option value="">Blue</option>
  <option value="">Purple</option>
  <option disabled value="">White</option>
  <option value="">Gray</option>
  <option value="">Black</option>
  <option value="">Brown</option>
  <option value="">Pink</option>
</select>. he also paints other ones the other colors he likes, like switch 2.
so, he was planning to turn off switch 3. switch 3 is the one on the far right.
he turned it off and saw the light. he said: woah! man that <i>is</i> something that
is hooked up. he thought wow. he must of been really good. but his favorite week
of the day was <select name="" id="">
  <option value="">Sunday</option>
  <option value="">Monday</option>
  <option value="">Tuesday</option>
  <option value="">Wednesday</option>
  <option value="">Thursday</option>
  <option value="">Friday</option>
  <option value="">Saturday</option>
</select>. that boy really likes them, he waits until thursday and he jumps and
smiles on thursday. so, thursday is his favorite day of the week!
<h2>Notes:</h2>
<h2>this episode: removing switch 1</h2>
he woke up and smiled. <big>"IT IS A THURSDAY!!!!!"</big>, he shouted. thursday
is his most favorite day of the week. sadly, since 1 is not hooked up to
anything, he planned to remove it so that all of his switches would work. switch
1 has no power lines from it which means it is not hooked up to anything. so, he
loves to leave it <select name="" id="">
  <option value="">On</option>
  <option value="">Off</option>
</select>. the switches that are on now are 2 and 3. he tried looking for
everywhere, every derection and even out the doorway. and guess what? it
actually was off. he felt sad, so, he practiced this. he wanted to focus his
work onto a l<a href="http://www.boodeboo.com/sro4">i</a>nk. so, he did it all
the time. all the time, he focused around his city, but he wanted to go all the
way there. he logged in but didn't notice that he would do it, but did it. i
also <a href="http://list of swear words.com">regret</a> it. also, he loved to do
it all the time!
<h2>last episode: his worst day ever!</h2>
he likes to go around in his t tags, but unfortinateley, did not even practice. he
loves to make it right <a href="http://swearing">.</a> but also is impatient. here
is something funny i just heard: knock knock. who's there. impatient cow. impatient
cow wh-<big>MOO!!!</big>
after he told him the joke he understands that he was saying MOO!<a
  href="http://youtube">!</a
>! so, he wanted to use his powers, but found himself unlocked, trapped, and
even musemed after he was musemed. he used his h1 tag and oh <h1>BIG!!!!!</h1> so
his big tag was: h1. so then he wanted to go around, and find himself in his own<a
  href="http://scribbles-and-ink"
>
</a> time after he uses it. thanks. so, he went around and put out his own fires!
