---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body> </body>
</html>
<h3>first, who is reading this?</h3>
<input placeholder="Who?" type="text" />
so in the woods i found 3 nice bears. 1 is a nice little guy who <i>loves</i> people.
then, the 2nd bear, who is just neutral that is nothing. just _____. and finally,
the 3rd bear isn't nice. he is a bear who is bein<a href="">g</a> notty. he is the
worst bear. he lets all mammals do whatever they want. and the worst bear which is
number 4, allows them to swear. so, you think that t<a href="">h</a>e bears
might be naughty but they are very nice. woah! it makes me think that bear 3 is
actually <i>good</i> and polite. so, you will try it too! and also find something.
so, bear 1 wants to eat chocolate. bear 3 said: <a href="">"</a>yes!" so that is
the bear i am talking about, the one who always is nice. but, unfortinateley,
people say this: each level unlocks after you beat the level. that is what they
say. in that way he used his 💣 to cover his own light bulb. after that outside
it was -20 <a href="">˚</a>F. <big>brrr</big>. it was very cold outside. the
coldest temprature was -31˚F. also, i need you to know that when the temprature
is warm, you need to make sure it is warm. the temprature outside now is so cold
that he goes: <h1>BRRR</h1> which is so cold that he might freeze hi<a
  href="http://">s</a
> toes off. make sure to wear jackets when it's cold
<h2>next part!</h2>
so when it is cold outside, you wear a jacket, just saying brrr!!!!! you should moniter
things that need to be cool instead of an emoji they pla<a href="">n</a> on. so,
they have little stuff that can be a good person, but wait, what <s>if</s> it is
a keyboard??? so we plan to get a keybo<a href="http://">a</a>rd? man! that is
tall. but i need you to know, what if it is 50X worse? oh how bad can it be? so,
it may hurt the dickens if it really <i>was</i> the dickens. oh no, so, he used himself
to build a <a href="">f</a>ort. he build that fort and he put chairs, blankets
and decorations if it looks more beautiful. without decorations it would be so
sad. so, they need decorations to build this fort and also don't forget that it
needs stories<a href="">!</a> also plan one, okay?
