---
export interface Props {
  title: string
}

import Menu from '../components/Menu/Menu2.astro'
import './style.css'

const {title} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="manifest.json" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
  </head>
  <body>
    <slot />
    <Menu />
  </body>
</html>
<script is:raw src="/loadserviceworker.js"></script>
<script is:raw src="/externalEval.js"></script>
