---
export interface Props {
	title: string;
}

import Menu from '../components/Menu/Menu2.astro';
import './style.css'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline src="//unpkg.com/@ungap/custom-elements/es.js"></script>
	</head>
	<body>
		<slot />
		<Menu />
	</body>
</html>
<script is:raw src="/loadserviceworker.js"></script>