.container2 {
  display: grid;
  grid-template-areas:
    "header header"
    "left right";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 4fr;
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
  padding: 1rem;
}

.leftColumn, .rightColumn {
  overflow-y: auto;
  padding: 1rem;
}

.leftColumn {
  grid-area: left;
  border-right:1px solid gray;
  max-width: 230px;
  min-width: 100px;
}

.rightColumn {
  grid-area: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  border-bottom: 1px solid black;
}

.header button {
  white-space: nowrap;
}

@media only screen and (prefers-color-scheme: dark) {
.banner {
  border-bottom: 1px solid white;
}
}

.banner h1 {
  margin: 0;
}

.spacer {
  display: inline-block;
  width: 1px;
  height: 2rem;
  border-left: 1px solid black;
  margin-left: 1rem;
  margin-right:.4rem;
}
@media only screen and (prefers-color-scheme: dark) {
  .spacer {
    border-left: 1px solid white;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  /* background-color: white; */
  /* color: #007acc; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (prefers-color-scheme: dark) {
  .buttons button {
    filter: saturate(0.4);
  }
}

.content {
  display: grid;
  grid-template-columns: 210px 1fr;
  gap: 0.2rem;
}

.left-column {
  /* background-color: #fff; */
  padding: 1rem;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  border-right: 1px solid black;
}
@media only screen and (prefers-color-scheme: dark) {
.left-column {
  border-right: 1px solid white;
}
}

.right-column {
  /* background-color: #fff; */
  padding: 1rem;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
}

#hidden_button {
  display: none;
}

.talker {
  display: flex;
  gap: 10px;
  margin-top: .5rem;
}
.talker.preview {
  margin-top: 1rem;
  align-items: flex-start;
}
.talker button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: .8rem;
  padding: 0.2rem 0.5rem;
}
.talker.preview button {
  font-size: 0.8rem;
  /* padding: 3px; */
  /* text-decoration: underline; */
}
@media only screen and (prefers-color-scheme: dark) {
  .talker button {
    filter: saturate(0.4);
  }
}
.talker .group {
  flex: 1;
}
.talker .name {
  font-weight: 600;
}
.talker .face {
}
.talker .face img {
  width: calc(300px * .5);
  height: calc(200px * .5);
  /* mix-blend-mode: multiply; */
}

@media only screen and (prefers-color-scheme: dark) {
  .talker .face img {
    background-color: white;
    /* filter: invert(1); */
    mix-blend-mode: lighten;
  }
}

.talker.preview .face img {
  width: calc(300px * .3);
  height: calc(200px * .3);
  /* filter: grayscale(0.6) opacity(0.4); */
}
.talker .sample {
}
.talker .action {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.talker.preview .action {
  padding-top: 0rem;
}

.talker .action > .subgroup {
  display: flex;
  align-items: center;
  gap: 10px;
}
.talker .action > .subgroup select {
  padding: 0 0.3rem;
}
.talker .action .plus {
  font-size: 1.5rem;
  padding: 0;
  border: 0;
  /* background-color: transparent; */
}
.talker textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.1rem .4rem;
  height: auto;
  margin-bottom: 0;
}
.talker select,
.talker button {
  margin-bottom: 0;
}
#brand {
  background-image: url(/talkers.jpeg);
  height: 49px;
  width: 198px;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 71% 47%;
  mix-blend-mode: multiply;
}
@media only screen and (prefers-color-scheme: dark) {
  #brand {
    filter: invert(1);
    mix-blend-mode:lighten;
  }
}

dialog#sounds {
  width: 100vw;
  /* height: 100vh; */
  max-width: 1100px;
  max-height: 900px;
}

/* dialog#sounds wc-meme-board {
  display: none;
}
dialog#sounds[open] wc-meme-board {
  display: flex;
} */

.right-column wc-meme-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  justify-content: center;
  gap: 1rem;
}

dialog wc-meme-board .list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

wc-meme-item div {
  display: flex;
  gap: .4rem;
}

dialog wc-meme-board wc-meme-item {
  width: 20%;
  min-width: 180px;
}
dialog wc-meme-board wc-meme-item h5 {
  font-size: 16px;
}
dialog wc-meme-board wc-meme-item button {
  font-size: 18px;
}

@media (max-width: 500px) {
  .talker.preview .face {
    display: none;
  }
  .leftColumn, .rightColumn {
    padding:.4rem;
  }

  .spacer,
  #remove_all,
  #clear_all {
    display: none;
  }
  wc-talker-azure {
    width: fit-content;
  }
  .talker {
    gap:4px;
  }
  .leftColumn {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100px;
  }

}